{% extends 'layout.html' %}
{% from '_staffing_helper_macros.html' import directions_snippet %}

{% block page_header %}
<div class="w3-panel w3-card-2 w3-secondary-color">
    <h2>
        <img src="{{url_for('static',filename='images/bicycle.png')}}" />
        {{ job.service_type }}
    </h2>
</div>
{% endblock page_header %}

{% block body %}
<div class="w3-panel w3-card-2 w3-secondary-color">
    <div class="w3-row" style="padding-top:16pt;padding-bottom:16pt;">
        <div class="w3-col w3-half w3-small" style="padding-left:1%;">
            <h3><strong>{{ job.calendar_title}}</strong></h3>
            <p>
                <em>Date:</em> <strong>{{ job.event_start_date | default('tbd',True)| abbr_date_string }}</strong>
            </p>
            <div class="w3-row">
                <p class="w3-col l1 m2 s2 w3-right-align">
                    <em>Times:</em>&nbsp;
                </p>
                <p class="w3-col l11 m10 s10">
                    <strong>{{ job.event_start_label | default("Event Starts", True) }}</strong>: {{ job.event_start_date | default('tbd',True) | local_time_string }}  &ndash; 
                    <strong>{{ job.event_end_label | default("Event Ends", True)}}</strong>: {{ job.event_end_date  | default('tbd',True) | local_time_string }}
                </p>
            </div>
            {# if the event/service times and labels are identical, don't display the service set #}
            {% if job.event_start_label ==  job.service_start_label and job.event_start_date == job.service_start_date and job.event_end_label == job.service_end_label and job.event_end_date == job.service_end_date %}
            {# show nothing #}
            {% else %}
            <div class="w3-row">
                <div class="w3-col l1 m2 s2">&nbsp;</div>
                <div class="w3-col  l11 m10 s10">
                    <p>
                        <strong>{{ job.service_start_label | default("Service Starts", True) }}</strong>: {{ job.service_start_date | default('tbd',True)| local_time_string }}  &ndash; 
                        <strong>{{ job.service_end_label | default("Service Ends", True)}}</strong>: {{ job.service_end_date | default('tbd',True) | local_time_string }}
                    </p>
                </div>
            </div>
            {% endif %}
            <div class="w3-row">
                <p class="w3-col l1 m2 s2 w3-right-align">
                    <em>Place:</em>&nbsp;
                </p>
                <div class="w3-col  l11 m10 s10">
                    <p>
                        <strong>{{ job.job_loc_name }}</strong><br>
                        {{ job.job_loc_street_address }}, {{ job.job_loc_city }}
                    </p>
                     {% if job.job_loc_lat and job.job_loc_lng %}
                    <div style="margin-bottom:10pt;">
                        {{ directions_snippet(job) }}
                    </div>
                    {% endif %}
                </div>
            </div>
            <div style="padding-right:6pt;">
                {{ job.event_description | render_markdown }}
            </div>
        </div>
        {% if map_html %}
        <div id="map" class="w3-col w3-half w3-card-2">
            {{ map_html | safe }}
        </div>
        {% endif %}
    </div>
</div>
<div class="w3-panel w3-card-2 w3-secondary-color">
    <h3 style="text-align:center;cursor:pointer" onclick="window.history.back();return false;">&larr; Back</h3>
</div>
{% endblock body %}