{% extends 'layout.html' %}

{% block head %}
    {{ super() }}
    <style>
        @font-face {
          font-family: condensed-font;
          src: url("{{ url_for('static', filename='fonts/sans_condensed.ttf')}}") format("truetype");
        }

        .day-col{
            width:14.2857142857142857%;
        }
        .full_day_display{
            position:absolute;
            white-space: nowrap;
            overflow:hidden;
            text-overflow:ellipsis;
            background-color:white;
            width:14.2857142857142857%;
            z-index:3000;
            display:none;
        }

      .day-content{
                font-family: condensed-font, sans-serif;
                font-size:1.25em;
                line-height:1;
                white-space: nowrap;
                overflow:hidden;
                text-overflow:ellipsis;
                cursor:pointer;
                padding-top: 2pt;
                padding-left:2pt;
        }
        p.day-content{
            margin-bottom: 0.1em;
        }
        .day-name, .month-name{
            text-align:center;
            font-weight:bold;
        }
        .month-name{
            padding:6pt 0;
            margin:0;
        }
        #calendar-contain{
            margin:0 auto;
            width:90%;
            max-width:1000px;
        }
        @media (max-width:993px){
            #calendar-contain{
                width:99%;
            }
        }
        
        #calendar-contain .w3-row p.w3-col {
            margin:0;
        }
        .day-cell{
            min-height:80pt
        }
        .day-number{
            text-align:right;
            font-weight:bold;
            padding-right:6pt;
        }
        .today {
            color:white;
            background-color:red;
        }
        .month_arrow{
            text-decoration:none;
        }
        #coverup{
            position:absolute;
            top:0;
            left:0;
            display:none;
            height:1000pt;
            width:100%;
            z-index:2000;
        }
        
        .theres-more,.theres-more-yours {
            cursor:pointer;
        }
        
        .yours::before, .yours-caption::before, .theres-more-yours::before {
            content: url('/static/images/check_mark.png');
        }
       .theres-more-yours {
            background-color: rgba(128, 64, 3, 0.5);
        }
        .yours-caption {
        }
   </style>

    <script>
        function show_full_day(day_number){
            $('#full_day_display_'+day_number.toString()).show()
            $('#coverup').show()
        }
        function hide_full_day(){
            $('#coverup, .full_day_display').hide()
        }
        function get_job_email(){
            if(confirm("Get an email with all your future commitments?")){
                editFromList('{{url_for('signup.send_user_commitment_email')}}{{g.user}}')
            }
        }
    </script>
{% endblock head %}

{% macro calendar_entry(event)%}
    <p grp="{{ event.activity_group_id }}" onclick="location='{{ url_for('calendar.event')}}{{event.id}}'" class="day-content {{ event.activity_group_style }} {%if event.is_yours %}yours{% endif %}">{{event.event_title}}</p>
{% endmacro %}

{% macro activity_filter() %}
<nav id="activity_type_filter">
    <div class="w3-row-padding w3-padding-bottom">
        <h4>Select Event Types to Display</h4>
        {% if activity_groups %}
            <p style="margin-bottom:.6em">
            {% set group_count = [0]%}
            {% for group in activity_groups %}
                {% set _  = group_count.append(group_count[0]+ 1) %}{% set _ = group_count.pop(0) %}
                {% if group_count[0] % 7 == 0 %}<br>{% endif %}
                <label class="{{group.display_style}}" style="padding:0 4pt 1pt 2pt;"><input type="checkbox" id="activity_group_{{group.id}}" style="position:relative;top:-1pt;" value="{{ group.id }}" checked onclick="save_filter(this)">&nbsp;{{ group.name | replace(' ','&nbsp;') | safe }}</label><span class="w3-hide-small">&nbsp;&nbsp;</span>
                <span class="w3-hide-medium w3-hide-large"><br></span>
            {% endfor %}
            </p>
        {% else %}
        <p>Humm... Something went wrong here.</p>
        {% endif %}
    </div>
</nav>
{% endmacro %}

{% block body %}
<div id="coverup" onclick="hide_full_day()">&nbsp;</div>
{% if cal_list %}
    {% set _ = calendar.setfirstweekday(calendar.SUNDAY) %}
    {% set event_list_position = 2 %} {# for my sanity #}
    <div id="calendar-contain">
        <div class="w3-row  w3-border  w3-card-2" style="margin-bottom:6pt;">
            {% if g.user %}
            <p class="w3-col l3 m4 s12 w3-center">
                <span class="yours-caption" style="position:relative;top:2pt;">&nbsp;Your Commitments</span></p>
                <p class="w3-col l3 m4 s12 w3-center"><span class="w3-large">@</span> 
                <a href="#" onclick="get_job_email();">Email your jobs...</a>
            </p>
            {% endif %}
            {{ activity_filter() }}
        </div>
        
        <div class="w3-row">
            <p class="w3-col w3-full w3-large w3-primary-color month-name">
                <a class="month_arrow" href="{{ url_for('calendar.display')}}{{ last_month.month }}/{{ last_month.year }}">&#x3c;</a>&nbsp;&nbsp;
                {{ calendar.month_name[start_date.month]}} {{ start_date.year }}
                &nbsp;&nbsp;<a class="month_arrow" href="{{ url_for('calendar.display')}}{{ next_month.month }}/{{ next_month.year }}">&#x3e;</a>
            </p>
        <div class="w3-row">
            {%for day in calendar.weekheader(3).split(' ') %}
            <p class="w3-col w3-border w3-secondary-color day-name day-col">{{ day }}</p>
            {% endfor %}
        </div>
        {%for week in range(cal_list | length ) %}
        <div class="w3-row">
                {% for day in range(cal_list[week] | length ) %}
                {% set events_today = cal_list[week][day][event_list_position] | length %}
                {% set day_number = cal_list[week][day][0]%}
                {% set day_in_this_month = (day_number != 0)%}
                {% set yours_are_hidden = [False] %}
                <div class="w3-col w3-border w3-white day-col day-cell" style="padding:0 2pt;max-length:">
                    {% if day_in_this_month %}
                    <div id="full_day_display_{{day_number}}" class="full_day_display w3-small w3-border">
                        <p class="day-number w3-primary-color">{{ day_number }}</p>
                        {% for event_num in range( events_today )%}
                            {% set event = event_data[cal_list[week][day][event_list_position][event_num]] %}
                            {{ calendar_entry(event) }}
                            {% if event_num > 2 and event.is_yours %}
                                {% set _ = yours_are_hidden.pop(0) %}
                                {% set _ = yours_are_hidden.append(True) %}
                            {% endif %}
                        {% endfor %}
                    </div>
                    {% endif %}
                    <p class="day-number {% if today and start_date and today.day == day_number and today.month == start_date.month %}today{% endif %}">
                        {% if day_in_this_month %}{{ day_number }}{% else %}&nbsp;{% endif %}
                    </p>
                    <div class="w3-small">
                        {% for event_num in range( events_today )%}
                            {% if event_num <= 1 or events_today < 4 %}
                            {% set event = event_data[cal_list[week][day][event_list_position][event_num]] %}
                            {{ calendar_entry(event) }}
                            {% endif %}
                        {% endfor %}
                        {# lump all the extra events into a "more" line #}
                        {% if events_today > 3 %}
                        <p class="theres-more{% if yours_are_hidden[0] %}-yours{% else %} w3-primary-color {% endif %}" onclick="show_full_day({{day_number}})">&amp; {{ cal_list[week][day][2] | length - 2}} more...</p>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
        </div>
        {% endfor %}
    </div>
{% else %}
<h3>Well, that's odd... there's no calendar to display...</h3>
{% endif %}

<script>
    function save_filter(checkbox){
        // save the change to session
        var action = 'add'
        if (checkbox.checked != true) {action = 'remove';}
        $.get('{{ url_for('calendar.save_group_filter')}}'+action+'/'+checkbox.value+"/");
        group_toggle(checkbox.value);
    }
    function group_toggle(value){
        $('[grp='+value+']').toggle()
    }
    // recover group filter from session
    // all are enabled by default so only hide those in set
    {% if 'calendar_group_filter' in session %}
        {% for group_id in session['calendar_group_filter'] %}
            group_toggle({{group_id}})
            $('#activity_group_'+{{group_id}}).prop('checked',false);
        {% endfor %}
    {% endif %}
</script>
{% endblock body %}