{% extends "layout.html" %}
{% from "_layout_helpers.html" import list_search_widget %}
{% block title %}{{ g.title }}{% endblock %}
{% block body %}

      	<p id="addRecord"><a href="{{ g.editURL }}0/">Add a new record</a>&nbsp;&nbsp;
        {{ list_search_widget('activity_type',{'Id':0,'Task Name':1,'Activity':2},1) }}

        </p>
	{%if recs %}
		<table id="table_list" class="datatable w3-table w3-striped w3-hoverable">
		<tr class="w3-primary-color">
			<th>Id</th>
			<th>Task Name</th>
			<th>Activity</th>
		</tr>
		{% for rec in recs %}
	    <tr>
			<td onclick="window.location='{{ g.editURL }}{{rec.id}}/'">{{ rec.id }}</a></td>
			<td onclick="window.location='{{ g.editURL }}{{rec.id}}/'">{{ rec.name }}</a></td>
			<td onclick="window.location='{{ g.editURL }}{{rec.id}}/'">{{ rec.activity_name }}</a></td>
		</tr>
		{% endfor %}
	  </table>
  	{% else %}
    	<p><em>No records here so far</em></p>
	{% endif %}
{% endblock %}
