<p><a onclick="editFromList('{{ url_for('task.edit_from_list')}}0/{{ activity_id }}')" >New Task...</a></p>
<table class="datatable w3-table w3-striped w3-hoverable">
<tr class="w3-primary-color">
	<th colspan="2">Events</th>
</tr>
{% if tasks %}
{% set event_date = ['']%}
{% for task in tasks %}
{% if event_date[0] != task.start_date[:10] %}
    <td colspan="2" class="w3-secondary-color">
        <p style="margin:0;"><strong>{{task.start_date | short_date_string }}</strong> &nbsp;&nbsp;&nbsp;
            <a class="w3-button w3-primary-color w3-round-large" onclick="editFromList('{{ url_for('task.manage_task_set')}}{{ task.id }}')">Manage Set...</a></p>
    </td>
{% endif %}
    <tr id="list-row-{{task.id}}">
        <td style="width:12pt;padding:0;">&nbsp;</td>
        <td  onclick="editFromList('{{ url_for('task.edit_from_list') }}{{task.id}}/');">
            {{ task.title | truncate(35)}}<br>
            <span class="w3-small">{{ task.max_positions }} @ {{ task.start_date | local_time_string }} - {{ task.end_date | local_time_string }}</span>
        </td>
    </tr>
{% set _ = event_date.pop() %}
{% set _ = event_date.append( task.start_date[:10] ) %}
{% endfor %}
</table>
{% else %}
</table>
<p>No Tasks Yet...</p>
{% endif %}{# if tasks #}
