{% extends "form_layout_wide.html" %}

{% from "_form_helpers.html" import input_field, select_field, radio_field, checkbox_field, label_only %}

{% block head %}
    {{ super() }}
    
    {% include "anytime_head.html"%}
{% endblock head %}

{% block fieldset %}
{% set placeholders = {}%} {# add dict items to set placeholders if needed. #}

<div id="sg_section_tabs" class="w3-col l2 m2 s12" style="padding-right:6pt;">
    <div class="w3-side-bar w3-primary-color">
      <a class="w3-bar-item w3-button w3-border" style="width:100%" href="#form-head"><span class="w3-hide-medium">Event </span>Details</a>
      <a class="w3-bar-item w3-button w3-border" style="width:100%" href="#calendar-settings">Calendar</a>
      <a class="w3-bar-item w3-button w3-border" style="width:100%" href="#job-list">Job List</a>
      <a class="w3-bar-item w3-button w3-border" style="width:100%" href="#contract-info">Contract<span class="w3-hide-medium"> Info</span></a>
      <a class="w3-bar-item w3-button w3-border" style="width:100%" 
          onclick="editFromList('{{ url_for('event.send_event_email')}}{{rec.id}}');return false;">
          Email...
      </a>
    </div>
</div>
<div id="form-sidebar-spacer" class="w3-col l10 m10 s12">
    <div id="form-head" class="w3-row">
        <div class="w3-col w3-half w3-left">
            {{ input_field(rec.id,"id",type="hidden",default=0)}}
            {{ input_field(rec.activity_id,"activity_id",type="hidden",default=-1)}}
            <p>{{ input_field(rec.activity_title,'activity title',extras='readonly')}}</p>
        </div>
        <div class="w3-col w3-half w3-left">
            <p>{{ select_field("status","Event Status", class="w3-border") }}
                    {% for status in site_config.get("EVENT_STATUS_VALUES",["Scheduled","Pending","Cancelled"]) %}
                        <option value="{{status}}" {% if status == rec.status %}selected="selected" {% endif %}>{{status}}</option>
                    {% endfor %}
                </select>
            </p>
        </div>
    </div>
    
    <div id="event-details" class="w3-row">
            <p>{{ label_only(label="Description (Appears in Public Calendar)")}}</p>
            <p><textarea rows="7" name="description" style="width:100%;" placeholder="{{rec.activity_description | default('',True) }}" >{{rec.description |default('',True)}}</textarea></p>
            <p>{{ input_field(rec.client_website,"client_website",label="Event Website", id="client_website", placeholder='http://example.com')}}</p>
            <p>{{ label_only(label="Staff Only information (not visible to public)")}}</p>
            <p><textarea rows="5" name="staff_info" style="width:100%;" placeholder="{{rec.activity_info}}">{{rec.staff_info |default_if_none('')}}</textarea></p>
            <p>{{ select_field("location_id","Default Location (May override in Jobs)", class="w3-border" ) }}
                    <option value="0">Select a location</option>
                    {% if locations %}
                    {% for loc in locations %}
                        <option value="{{loc.id}}" {% if loc.id == rec.location_id %}selected="selected" {% endif %}>{{loc.location_name}}</option>
                    {% endfor %}
                    {% endif %}
                </select>
            </p>
            <p>{{ select_field("manager_user_id","Event Manager", class="w3-border", req=True) }}
                    <option value="0">Select an Event Manager</option>
                    {% if event_managers %}
                    {% for manager in event_managers %}
                        <option value="{{manager.id}}" {% if manager.id == rec.manager_user_id | int %}selected="selected" {% endif %}>{{manager.first_name}} {{manager.last_name}}</option>
                    {% endfor %}
                    {% endif %}
                </select>
            </p>
    </div> <!-- event-details -->

    <div id="calendar-settings" class="w3-row">
        <div>
            <div id="calendar_data" style="padding:3pt;">
                <h3 class="w3-primary-color" style="padding:3pt;">Calendar Settings 
                    &nbsp;<a href="#sg_section_tabs" style="text-decoration:none;" title="Go to Top">&uarr;</a>
                </h3>
                {% set _ = placeholders.update({"calendar_title": rec.activity_title | safe })%}
                <p>{{ input_field(rec.calendar_title,'calendar_title',id="calendar_title",label="Calendar Title (if different)")}}</p>
                {% set selected =  'checked="checked"' if rec.exclude_from_calendar else '' %}
                <p>{{ checkbox_field('exclude','exclude_from_calendar', extras=selected)}}</p>
                {% set _ = placeholders.update({"service_type": rec.activity_service_type | safe })%}
                <p>{{ input_field(rec.service_type,'service_type',id="service_type",label="Service Type (if different)")}}</p>
                <div class="w3-row">
                    <div class="w3-col l6 m6 s12">
                        <p class="w3-row">{{ label_only(label="Event Times")}}</p>
                    </div>
                    <div class="w3-col l6 m6 s12">
                        <p class="w3-row w3-primary-color">
                            &nbsp;&nbsp;<input type="checkbox" name="all_day_event" value="1" id="all_day_event" 
                            {% if rec.all_day_event %}checked{% endif %}
                            onclick="all_day_check(this.checked);" />
                             All Day Event</p>
                    </div>
                </div>
                <div id="event-times">
                    <div class="w3-row">
                        <p class="w3-col w3-third">
                            {{ select_field("event_start_date_label_id","Calendar Label",class="w3-border") }}
                                {% if event_date_labels %}
                                {% for label in event_date_labels %}
                                    <option value="{{label.id}}" {% if label.id == rec.event_start_date_label_id %}selected="selected" {% endif %}>{{label.label}}</option>
                                {% endfor %}
                                {% endif %}
                            </select>
                        </p>
                        <p class="w3-col w3-twothird">
                            {% if rec.all_day_event %}
                            {% set event_start_date = rec.event_start_date | local_date_string %}
                            {% else %}
                            {% set event_start_date = rec.event_start_date | local_date_and_time_string %}
                            {% endif %}
                            {{ input_field(event_start_date,'event_start_date',id="event_start_date", label="Event Starts", placeholder="Event Start Date and Time") }}
                        </p>
                    </div>
                    <div class="w3-row">
                        <p class="w3-col w3-third">
                            {{ select_field("event_end_date_label_id","Calendar Label",class="w3-border") }}
                                {% if event_date_labels %}
                                {% for label in event_date_labels %}
                                    <option value="{{label.id}}" {% if label.id == rec.event_end_date_label_id %}selected="selected" {% endif %}>{{label.label}}</option>
                                {% endfor %}
                                {% endif %}
                            </select>
                        </p>
                        <p class="w3-col w3-twothird">
                            {% if rec.all_day_event %}
                            {% set event_end_date = rec.event_end_date | local_date_string %}
                            {% else %}
                            {% set event_end_date = rec.event_end_date | local_date_and_time_string %}
                            {% endif %}
                            {{ input_field(event_end_date,'event_end_date',id="event_end_date", label="Event Ends", placeholder="Event End Date and Time") }}
                        </p>
                    </div>
                </div>
                <div id="service-times-contain">
                    <p class="w3-secondary-color">
                        &nbsp;&nbsp;{{ checkbox_field('show_service_times', id='show_service_times', extras='onclick="toggle_service_times();"')}}
                        Service times differ from Event times
                    </p>
                    <div id="service-times" style="display:none;" >
                        <p>{{ label_only(label="Service Times")}}</p>
                            <div class="w3-row">
                                <p class="w3-col w3-third">
                                    {{ select_field("service_start_date_label_id","Calendar Label",class="w3-border service_date_data") }}
                                        {% if event_date_labels %}
                                        {% for label in event_date_labels %}
                                            <option value="{{label.id}}" {% if label.id == rec.service_start_date_label_id %}selected="selected" {% endif %}>{{label.label}}</option>
                                        {% endfor %}
                                        {% endif %}
                                    </select>
                                </p>
                                <p class="w3-col w3-twothird">
                                    {% set service_start_date = rec.service_start_date | local_date_and_time_string %}
                                    {{ input_field(service_start_date,'service_start_date',id="service_start_date", label="Service Starts", class="service_date_data", placeholder="Service Start Date and Time") }}
                                </p>
                            </div>
                            <div class="w3-row">
                                <p class="w3-col w3-third">
                                    {{ select_field("service_end_date_label_id","Calendar Label",class="w3-border service_date_data") }}
                                        {% if event_date_labels %}
                                        {% for label in event_date_labels %}
                                            <option value="{{label.id}}" {% if label.id == rec.service_end_date_label_id %}selected="selected" {% endif %}>{{label.label}}</option>
                                        {% endfor %}
                                        {% endif %}
                                    </select>
                                </p>
                                <p class="w3-col w3-twothird">
                                    {% set service_end_date = rec.service_end_date | local_date_and_time_string %}
                                    {{ input_field(service_end_date,'service_end_date',id="service_end_date", class="service_date_data", label="Service Ends", placeholder="Service End Date and Time") }}
                                </p>
                            </div>
                    </div>
                </div>
            </div>
        </div> <!-- calendar-settings -->
        <div id="job-list" class="w3-row" >
            <h3 class="w3-primary-color" style="padding:3pt;">Job List
                &nbsp;<a href="#sg_section_tabs" style="text-decoration:none;" title="Go to Top">&uarr;</a>
            </h3>
            <div style="margin-top:10pt;">
                {{ job_embed_list | default("No Jobs Created Yet", True) | safe }}
            </div>
        </div>        
    </div>
    
    <div id ="contract-info" class="w3-row">
            <h3 class="w3-primary-color" style="padding:3pt;">Contract Info
                &nbsp;<a href="#sg_section_tabs" style="text-decoration:none;" title="Go to Top">&uarr;</a>
            </h3>
            <p>{{ select_field("client_id","Client", class="w3-border", extras=' onchange="updateClientFields(this);"') }}
                    <option value="0">Select a Client</option>
                    {% if clients %}
                    {% for client in clients %}
                        <option value="{{client.id}}" {% if client.id == rec.client_id %}selected="selected" {% endif %}>{{client.name}}</option>
                    {% endfor %}
                    {% endif %}
                </select>
            </p>

            <p>{{ label_only("(Change below for this event only)")}}</p>
            {% if client %}
                {%if client.contact_first_name and client.contact_last_name %}{% set _ = placeholders.update({'client_contact':client.contact_first_name + " " + client.contact_last_name,}) %}{% endif %}
                {% if client.email %}{% set _ = placeholders.update({'client_email':client.email,}) %}{% endif %}
                {% if client.phone %}{% set _ = placeholders.update({'client_phone':client.phone,}) %}{% endif %}
                {% if client.website %}{% set _ = placeholders.update({'client_website':client.website,}) %}{% endif %}
            {% endif %}
            <p>{{ input_field(rec.client_contact,"client_contact",label="Client Contact", id="client_contact")}}</p>
            <p>{{ input_field(rec.client_email,"client_email",label="Client Contact Email", id="client_email")}}</p>
            <p>{{ input_field(rec.client_phone,"client_phone",label="Client Contact Phone",id="client_phone")}}</p>
            <h4>Planning Notes</h4>
            <p>{{ input_field(rec.prep_status,"prep_status",label="Event Prep Status", id="prep_status")}}</p>
            <p class="" >{{ input_field(rec.event_size,"event_size",label="Expected Event Size", id="event_size")}}</p>
            <div class="w3-row">
                <p class="w3-col w3-half ">{{ input_field(rec.number_served,"number_served",label="Number Served", id="number_served")}}</p>
                <p class="w3-col w3-half" >{{ input_field(rec.tips_received,"tips_received",label="Tips Received", id="tips_received",placeholder="0.00")}}</p>
           </div>
            <h4>Contract Info</h4>
             {% set _ = placeholders.update({"contract_date": rec.activity_contract_date | local_date_string })%}
             <p class="">{{ input_field(rec.contract_date,"contract_date",type="text",id="contract_date", placeholder="MM/DD/YYYY")}}</p>
             <div class="w3-row">
                 {% set _ = placeholders.update({"per_event_contract_price": rec.activity_per_event_contract_price | money })%}
                 <p class="w3-col w3-half">{{ input_field(rec.per_event_contract_price,"per_event_contract_price", type="text",id="per_event_contract_price",placeholder="0.00")}}</p>
                 {% set _ = placeholders.update({"total_contract_price": rec.activity_total_contract_price | money })%}
                 <p class="w3-col w3-half">{{ input_field(rec.total_contract_price,"total_contract_price", type="text",id="total_contract_price",placeholder="0.00")}}</p>
            </div>
            <p><textarea rows="7" name="contract_notes" id="contract_notes" style="width:100%;" placeholder="{{rec.activity_contract_notes }}" >{{rec.contract_notes |default('',True)}}</textarea></p>
    
        </div>
    </div>  <!-- contract-info -->
    
</div> <!-- left menu spacer -->
      
<script>
    // set the placeholder text
    {% for key, value in placeholders.items() %}
    $("#{{key}}").attr('placeholder',"{{value}}");
    {% endfor %}
    
    var date_time_format = "%c/%e/%y %l:%i%p"; // "3/4/19 06:00AM"
    var date_format = "%c/%e/%y"; // "3/4/19"
    var pickers = ["#event_start_date","#event_end_date","#service_start_date","#service_end_date"]
    
    function set_date_pickers(format){
        for( i = 0;i<pickers.length;i++){
            $(pickers[i]).AnyTime_noPicker().AnyTime_picker({ format: format } );                
        }
    }
    
    // set the contract date picker
    $("#contract_date").AnyTime_noPicker().AnyTime_picker({ format: date_format } );
    
    if ($('#all_day_event').prop('checked')){
        set_date_pickers(date_format);
        all_day_check(true)
    } else {
        set_date_pickers(date_time_format);
    }
    
    
    // so the date picker will show above modal job form
    $("#modal-form-contain").css({'z-index':'auto'})
    
    
    function updateClientFields(x) {
      var client_id = x.value.toString();
      // query the database for this client id
      $.get('{{ url_for('client.get_rec_as_json')}}'+client_id+'/',
      function(data){
          var y
          // stuff the result (json) into the fields
          data = JSON.parse(data)
          $('#client_contact').attr({'value':data.contact_first_name + " " + data.contact_last_name})
          $('#client_phone').attr({'value':data.phone})
          $('#client_email').attr({'value':data.email})
          $('#client_website').attr({'value':data.website})
      });
    }
    
    function toggle_service_times(){
        if ($('#show_service_times').prop('checked') == false ){
            $('.service_date_data').prop('disabled',true);
            $('#service-times').hide();
        } else {
            $('#show_service_times').prop('checked',true);
            $('.service_date_data').prop('disabled',false);
            $('#service-times').show();
        }
    }
    
    function all_day_check(checked){
        if (checked){
            // reset and hide the service times section
            $('#show_service_times').prop('checked',false); // ensure service times are off
            toggle_service_times();
            $('#service-times-contain').hide();
            // re-configure the event date picker to dates only
            set_date_pickers(date_format);
        } else {
            $('#service-times-contain').show();
            set_date_pickers(date_time_format);
        }
    }
    {% if not rec.service_start_date and not rec.service_end_date %}
    {# do nothing #}
    {% elif rec.service_start_date != rec.event_start_date or rec.service_end_date != rec.event_end_date %}
    $('#show_service_times').prop('checked',true);
    toggle_service_times();
    {% endif %}
</script>
            
{% endblock fieldset %}
