{# manage a set of jobs from the event list#}

{% from "_form_helpers.html" import input_field, select_field, radio_field, checkbox_field, label_only %}

<div class="w3-container w3-row" style="text-align:center;margin-left:">
    <div class="w3-col w3-quarter w3-hide-small">&nbsp;</div>
    <div class="w3-col l6 m6 s12">
        <form id="manage_event_form"  method=post class="entry ">
    		{{ input_field(rec.id,'id',type="hidden") }}
            <h3>Move, Copy or Delete the Event "{{ rec.event_title }}" on {{ rec.event_start_date | local_date_string }}</h3>
            <p>{{input_field(new_date,'new_date',label="New Date to use in Move or Copy",placeholder="mm/dd/yy")}}</p>
            <p>
                <a class="w3-btn w3-ripple w3-save-button-color w3-mobile w3-round-large" 
                onclick="submitModalForm(
                'manage_event_form','{{url_for('event.manage_event')}}?action=move',
                'event-list',
                '{{ url_for('activity.get_event_list')}}{{ rec.activity_id}}')"
                title="Move the jobs on this date to the new date"
                >Move</a>
                &nbsp;&nbsp;
                <a class="w3-btn w3-ripple w3-delete-button-color w3-mobile w3-round-large" 
                onclick="submitModalForm(
                'manage_event_form','{{url_for('event.manage_event')}}?action=copy',
                'event-list',
                '{{ url_for('activity.get_event_list')}}{{ rec.activity_id}}')"
                title="Copy the jobs on this date to the new date"
                >Copy</a>
                &nbsp;&nbsp;
                <a  class="w3-btn w3-ripple w3-cancel-button-color w3-mobile w3-round-large" 
                onclick="cancelModalForm()">Cancel</a>
            
            </p>
        </form>
    </div>
</div>
