{% extends "layout.html" %}
{% from "_layout_helpers.html" import list_search_widget %}
{% block title %}{{ g.title }}{% endblock %}

{% block head %}
    {{ super() }}
    {% include "anytime_head.html"%}
{% endblock head %}

{% block body %}

      	<p id="addRecord">
	      	{# can't add records from here... go to Activity #}
            {# <a href="{{ g.editURL }}0/">Add a new record</a> #}
       {# list_search_widget('event',{'Id':0,'Title':1,'Status':2,'Service Start':3,'Event Start':4,},1) #}

        
        Find in:
            {% set search_columns_dict = {"Title":1,"Status":2,"Event Date":3,"Prep Status":5,"Contract Date":6,} %}
            {% set default_columns_select = 1 %}
            <select id="col_select" name="col_select" onchange="doSearch()">
                {% for key, value in search_columns_dict.items() %}
                <option value="{{ value }}" >{{ key }}</option>
                {% endfor %}
            </select>
                &nbsp;&nbsp;<input id="search_input" name="search_input" type="text"
                    class="w3-border" placeholder="Type anything" autofocus onkeyup=" doSearch();" 
                />
            &nbsp;
            <input type="checkbox" name="save_search" id="save_search" onclick="if(!this.checked){$('#search_input').val('');} doSearch();" /> <label for='save_search'>Save Search</label>
        </p>
        <div class="w3-row">
            <p class="w3-col l4 m12 s12" >Event Date Range: Start Date
                <input class="w3-border" type="text" name="event_start_date" id="event_start_date" size="12" placeholder="MM/DD/YY" onchange="doSearch()">
            </p>
            <p class="w3-col l2 m12 s12">End Data 
                <input class="w3-border" type="text" name="event_end_date" id="event_end_date" size="12" placeholder="MM/DD/YY" onchange="doSearch()">
            </p>
            <p class="w3-col l2 m12 s12"> 
                <input class="w3-button w3-primary-color w3-round-medium" type="button" name="clear_dates" id="clear_dates" value="Clear Dates" onclick="$('#event_end_date, #event_start_date').val('');doSearch();"/>
            </p>
        </div>
        <form id="event_search" action="{{ url_for('event.report') }}" method="POST" >
            <input id="selected_recs" name="selected_recs" type="hidden" value="" />
            <p><strong>Event Report:</strong> 
                <input type="button" onclick="submit(forms.event_search);" class="w3-button w3-primary-color w3-round-medium" value="Export Listed Records" /></p>
        </form>
        
        
	{%if recs %}
		<table id="table_list" class="datatable w3-table w3-striped w3-hoverable">
		<tr class="w3-primary-color">
			<th class="w3-hide-small">Id</th>
			<th>Title</th>
			<th>Status</th>
			<th>Event Date</th>
			<th class="w3-hide-small">Service Start</th>
			<th class="w3-hide-small">Prep Status</th>
			<th class="w3-hide-small">Contract Date</th>
		</tr>
		{% for rec in recs %}
	    <tr class="data_row"  tabindex="{{ rec.id }}">
			<td class="w3-hide-small"  onclick="window.location='{{ g.editURL }}{{rec.id}}/'">{{ rec.id }}</td>
			<td onclick="window.location='{{ g.editURL }}{{rec.id}}/'" {% if rec.activity_title | length > 20 %}title="{{ rec.activity_title }}"{% endif %} %}>{{ rec.activity_title | truncate(20,False) }}</td>
			<td onclick="window.location='{{ g.editURL }}{{rec.id}}/'">{{ rec.status|default("Unknown",true) }}</td>
			<td onclick="window.location='{{ g.editURL }}{{rec.id}}/'">{{ rec.event_start_date | default("Not Set",true) | local_date_string }}</td>
			<td class="w3-hide-small" onclick="window.location='{{ g.editURL }}{{rec.id}}/'">{{ rec.service_start_date | default("Not Set",true) | local_date_and_time_string }}</td>
			<td class="w3-hide-small" onclick="window.location='{{ g.editURL }}{{rec.id}}/'" {% if rec.prep_status | default('',true)| length > 20 %}title="{{ rec.prep_status }}"{% endif %} %}>{{ rec.prep_status | default('None',True) | truncate(20,False) }}</td>
			<td class="w3-hide-small" onclick="window.location='{{ g.editURL }}{{rec.id}}/'">{{ rec.event_contract_date | default('None',True) | local_date_string }}</td>
		</tr>
		{% endfor %}
	  </table>
  	{% else %}
    	<p><em>No records here so far</em></p>
	{% endif %}
    
    <script>
        var date_format = "%c/%e/%y"; // "3/4/19"
        var job_pickers = ["#event_start_date","#event_end_date"]
        for( i = 0;i<job_pickers.length;i++){
            /* 
                you must remove the pickers before dismissing the dialog
                else they will not be reattached the next time the dialog opens
            */
            $(job_pickers[i]).AnyTime_noPicker().AnyTime_picker({ format: date_format } );                
        }
        
        
        function doSearch(){
            var theTable = "event";
            var theText = $('#search_input').val();
            var theColumn = $('#col_select').val();
            var saveState = $('#save_search').prop('checked');
            
            // Watch out!! these columns must be updated if display changes
            var startDateValue = $('#event_start_date').val();
            var startDateColumn = 3;
            var endDateValue = $('#event_end_date').val();
            var endDateColumn = 3;
           
            if (theText == ''){
                reset_table_search('table_list');
            } else {
                table_search('search_input','table_list',$('#col_select').val());
            }
            // now search rows by date if neeed
            if (startDateValue != '' || endDateValue != ''){
                table_search_with_date(startDateValue,startDateColumn,endDateValue,endDateColumn,'table_list')
            }
            // save or delete the search text from session
            $.post('{{url_for('user.save_table_search')}}',{ save_search: saveState, table_search_text: theText, search_table_name:  theTable, table_search_column:theColumn, event_start_date: startDateValue, event_end_date: endDateValue })
            
            // update the list of displayed record id's
            var selected_recs = "";
            $(".data_row").each(function(index){
                if (this.style.display !== 'none'){
                    selected_recs = (selected_recs + "," + this.tabIndex).replace(/^,/, '')
                }
                $("#selected_recs").val(selected_recs)
            })
         }
         
         function table_search_with_date(startDate, startDateCol, endDate, endDateCol, table_id) {
             var table, tr, td, i, startValue, endValue, hideRow;
             startDate = new Date(startDate);
             endDate = new Date(endDate);

             /*
                 filter out additional rows based on start and end date 
             */
             table = document.getElementById(table_id);

             tr = table.getElementsByTagName("tr");
             for (i = 1; i < tr.length; i++) {
                 // skip row if already hidden
                 if (tr[i].style.display != 'none') {
                     hideRow = false;
                     try {                         
                         start_td = tr[i].getElementsByTagName("td")[startDateCol];
                         end_td = tr[i].getElementsByTagName("td")[endDateCol];
                         startValue = new Date(start_td.textContent || start_td.innerText || '1/1/2000');
                         endValue = new Date(end_td.textContent || end_td.innerText || '12/31/2050');
                         if (startValue == 'Invalid Date' || endValue == 'Invalid Date'){
                             hideRow = true;
                         } else {
                             if ((startValue < startDate) || (endValue > endDate)) hideRow = true;
                         }
                     } catch(err) { // do nothing...  
                     }
                     if (hideRow) {
                         tr[i].style.display = "none";
                     } else {
                         tr[i].style.display = "";
                     }
                 }
             }
         }

        
        
         $(document).ready(function(){
    
           {# ex of session['table_search'] = {'user_job': {'table_search_column': '0', 'table_search_text': 'bill'}} #}
           {% set table_search_column =  default_columns_select %}
           {% set table_search_text =  '' %}
           {% set save_search = ''%}
           
           {% set event_start_date = ''%}
           {% set event_end_date = ''%}
           
           {% if 'table_search' in session %}
               {% set table_search = session['table_search'] %}
               {% if "event"  in table_search %}
                   {% set search_data = table_search['event'] %}
                   {% if 'table_search_column' in search_data %}
                       {% set table_search_column =  search_data["table_search_column"] %}
                   {% endif %}
                   {% if 'table_search_text' in search_data %}
                       {% set table_search_text =  search_data["table_search_text"] %}
                   {% endif %}
                   {% if 'save_search' in search_data and search_data['save_search'] == 'true' %}
                       {% set save_search =  'checked' %}
                   {% endif %}
                   {% if 'event_start_date' in search_data %}
                       {% set event_start_date =  search_data["event_start_date"] %}
                   {% endif %}
                   {% if 'event_end_date' in search_data %}
                       {% set event_end_date =  search_data["event_end_date"] %}
                   {% endif %}
               {% endif %}
               {% else %}
               // stop here
           {% endif %}

           $('#col_select').val('{{ table_search_column }}'); 
           $('#search_input').val('{{ table_search_text }}'); 
           $('#save_search').prop('checked','{{ save_search }}');
           $('#event_start_date').val('{{ event_start_date }}');
           $('#event_end_date').val('{{ event_end_date }}');
           doSearch();
       })
    </script>
       
{% endblock %}
