{% extends "layout.html" %}
{% block title %}{{ g.title }}{% endblock %}
{% block body %}

      	<p id="addRecord">
            <a href="{{ g.editURL }}0/">Add a new record</a>
        &nbsp;&nbsp;Find in:
        <select id="col_select">
            <option value="0">Id</option>
            <option value="1" selected >Title</option>
            <option value="0">Description</option>
        </select>
            &nbsp;&nbsp;<input id="search_input" type="text" name="user_name" value="" class="w3-border" placeholder="Type anything" 
            onkeyup="if (this.value.length > 0){ table_search('search_input','table_list',$('#col_select').prop('selectedIndex'));}else{reset_table_search('table_list')}"
            />
        </p>
	{%if recs %}
		<table id="table_list" class="datatable w3-table w3-striped w3-hoverable">
		<tr class="w3-primary-color">
			<th>Id</th>
			<th>Title</th>
			<th class="w3-hide-small" >Description</th>
		</tr>
		{% for rec in recs %}
	    <tr>
			<td onclick="window.location='{{ g.editURL }}{{rec.id}}/'">{{ rec.id }}</td>
			<td onclick="window.location='{{ g.editURL }}{{rec.id}}/'">{{ rec.title }}</td>
			<td class="w3-hide-small" onclick="window.location='{{ g.editURL }}{{rec.id}}/'">{{ rec.description|default("",true) }}</td>
		</tr>
		{% endfor %}
	  </table>
  	{% else %}
    	<p><em>No records here so far</em></p>
	{% endif %}
{% endblock %}
