{% extends "form_layout_wide.html" %}

{% from "_form_helpers.html" import input_field, select_field, radio_field, checkbox_field, label_only %}

{% block fieldset %}
    <fieldset class="w3-col w3-half w3-left">        
        <p>{{ input_field(rec.id,"id",type="hidden",default=0)}}</p>
        <p>{{ input_field(rec.title,'title',req=True)}}</p>
        <p>{{ label_only(label="Description")}}</p>
        <p><textarea rows="5" name="description" style="width:100%;">{{rec.description |default('',True)}}</textarea></p>
        <p>{{ label_only(label="Staff Only information (not visible to public)")}}</p>
        <p><textarea rows="5" name="staff_info" style="width:100%;" >{{rec.staff_info |default('',True)}}</textarea></p>
        <p>{{ select_field("location_id","Location", class="w3-border") }}
                <option value="0">Select a location</option>
                {% if locations %}
                {% for loc in locations %}
                    <option value="{{loc.id}}" {% if loc.id == rec.location_id %}selected="selected" {% endif %}>{{loc.location_name}}</option>
                {% endfor %}
                {% endif %}
            </select>
        </p>
        <p>{{ select_field("event_type_id","Event Type (optional)", class="w3-border") }}
                <option value="0">Select an Event Type</option>
                {% if event_types %}
                {% for act_type in event_types %}
                    <option value="{{act_type.id}}" {% if act_type.id == rec.event_type_id %}selected="selected" {% endif %}>{{act_type.type}}</option>
                {% endfor %}
                {% endif %}
            </select>
        </p>
        <p>{{ select_field("manager_user_id","Event Manager", class="w3-border") }}
                <option value="0">Select an Event Manager</option>
                {% if event_managers %}
                {% for manager in event_managers %}
                    <option value="{{manager.id}}" {% if manager.id == rec.manager_user_id %}selected="selected" {% endif %}>{{manager.first_name}} {{manager.last_name}}</option>
                {% endfor %}
                {% endif %}
            </select>
        </p>

        <p>{{ input_field(rec.client_name,"client_name")}}</p>
        <p>{{ input_field(rec.client_email,"client_email")}}</p>
        <p>{{ input_field(rec.client_phone,"client_phone")}}</p>
        <p>{{ input_field(rec.client_website,"client_website", placeholder='http://example.com')}}</p>
    
    </fieldset>
<div class="w3-col w3-hide-small" style="width:20pt;">&nbsp;</div>
<div class="w3-col l5 m5 s12" >
    <div id="job-list" class="w3-card-4" style="margin-top:6pt;">
        {{ job_embed_list | default("No Jobs Created Yet", True) | safe }}
    </div>
</div>

{% endblock fieldset %}
