{% extends "form_layout_wide.html" %}

{% from "_form_helpers.html" import input_field, select_field, radio_field, checkbox_field, label_only %}

{% block head %}
    {{ super() }}
    
    {% include "anytime_head.html"%}
{% endblock head %}

{% block fieldset %}
{% set placeholders = {}%} {# add dict items to set placeholders if needed. #}
<div class="w3-col w3-half w3-left">
    {{ input_field(rec.id,"id",type="hidden",default=0)}}
    {{ input_field(rec.activity_id,"activity_id",type="hidden",default=-1)}}
    <p>{{ input_field(rec.activity_title,'activity title',extras='readonly')}}</p>
    <p>{{ select_field("status","Event Status", class="w3-border") }}
            {% for status in site_config.get("EVENT_STATUS_VALUES",["Scheduled","Pending","Cancelled"]) %}
                <option value="{{status}}" {% if status == rec.status %}selected="selected" {% endif %}>{{status}}</option>
            {% endfor %}
        </select>
    </p>
    <p>{{ label_only(label="Description (Appears in Public Calendar)")}}</p>
    <p><textarea rows="7" name="description" style="width:100%;" placeholder="{{rec.activity_description | default('',True) }}" >{{rec.description |default('',True)}}</textarea></p>
    <p>{{ label_only(label="Staff Only information (not visible to public)")}}</p>
    <p><textarea rows="5" name="staff_info" style="width:100%;" >{{rec.staff_info |default('',True)}}</textarea></p>
    <p>{{ select_field("location_id","Default Location (May override in Jobs)", class="w3-border", req=True ) }}
            <option value="0">Select a location</option>
            {% if locations %}
            {% for loc in locations %}
                <option value="{{loc.id}}" {% if loc.id == rec.location_id %}selected="selected" {% endif %}>{{loc.location_name}}</option>
            {% endfor %}
            {% endif %}
        </select>
    </p>
    <p>{{ select_field("manager_user_id","Event Manager", class="w3-border") }}
            <option value="0">Select an Event Manager</option>
            {% if event_managers %}
            {% for manager in event_managers %}
                <option value="{{manager.id}}" {% if manager.id == rec.manager_user_id %}selected="selected" {% endif %}>{{manager.first_name}} {{manager.last_name}}</option>
            {% endfor %}
            {% endif %}
        </select>
    </p>
    <p>{{ select_field("client_id","Client", class="w3-border", extras=' onchange="updateClientFields(this);"') }}
            <option value="0">Select a Client</option>
            {% if clients %}
            {% for client in clients %}
                <option value="{{client.id}}" {% if client.id == rec.client_id %}selected="selected" {% endif %}>{{client.name}}</option>
            {% endfor %}
            {% endif %}
        </select>
    </p>

    <p>{{ label_only("(Change below for this event only)")}}</p>
    {% if client %}
        {%if client.contact_first_name and client.contact_last_name %}{% set _ = placeholders.update({'client_contact':client.contact_first_name + " " + client.contact_last_name,}) %}{% endif %}
        {% if client.email %}{% set _ = placeholders.update({'client_email':client.email,}) %}{% endif %}
        {% if client.phone %}{% set _ = placeholders.update({'client_phone':client.phone,}) %}{% endif %}
        {% if client.website %}{% set _ = placeholders.update({'client_website':client.website,}) %}{% endif %}
    {% endif %}
    <p>{{ input_field(rec.client_contact,"client_contact",label="Client Contact", id="client_contact")}}</p>
    <p>{{ input_field(rec.client_email,"client_email",label="Client Contact Email", id="client_email")}}</p>
    <p>{{ input_field(rec.client_phone,"client_phone",label="Client Contact Phone",id="client_phone")}}</p>
    <p>{{ input_field(rec.client_website,"client_website",label="Event Website", id="client_website", placeholder='http://example.com')}}</p>
    <h4>Planning Notes...</h4>
    <p>{{ input_field(rec.prep_status,"prep_status",label="Event Prep Status", id="prep_status")}}</p>
    <p>{{ input_field(rec.event_size,"event_size",label="Expected Event Size", id="event_size")}}</p>
    <div class="w3-col">
        <p class="w3-row w3-half">{{ input_field(rec.number_served,"number_served",label="Number Served", id="number_served")}}</p>
        <p class="w3-row w3-half" >{{ input_field(rec.event_size,"event_size",label="Expected Event Size", id="event_size")}}</p>
   </div>
   <div class="w3-col">
        <p class="w3-row w3-half" >{{ input_field(rec.number_served,"number_served",label="Number Served", id="number_served")}}</p>
        {% set tips_received = rec.tips_received | money %}
        <p class="w3-row w3-half" >{{ input_field(tips_received,"tips_received",label="Tips Received", id="tips_received")}}</p>
   </div>
</div>
<div class="w3-col w3-hide-small" style="width:20pt;">&nbsp;</div>
<div class="w3-col l5 m5 s12" >
    <div id="calendar_data" class="w3-card-4" style="padding:3pt;">
        <h3 class="w3-primary-color" style="padding:3pt;">Calendar Settings</h3>
        {% set _ = placeholders.update({"calendar_title": rec.activity_title | safe })%}
        <p>{{ input_field(rec.calendar_title,'calendar_title',id="calendar_title",label="Calendar Title (if different)")}}</p>
        {% set selected =  'checked="checked"' if rec.exclude_from_calendar else '' %}
        <p>{{ checkbox_field(1,'exclude_from_calendar', extras=selected)}}</p>
        {% set _ = placeholders.update({"service_type": rec.activity_service_type | safe })%}
        <p>{{ input_field(rec.service_type,'service_type',id="service_type",label="Service Type (if different)")}}</p>
        <p>{{ label_only(label="Event Times")}}</p>
        <div class="w3-row">
            <p class="w3-col w3-third">
                {{ select_field("event_start_date_label_id","Calendar Label",class="w3-border") }}
                    {% if event_date_labels %}
                    {% for label in event_date_labels %}
                        <option value="{{label.id}}" {% if label.id == rec.event_start_date_label_id %}selected="selected" {% endif %}>{{label.label}}</option>
                    {% endfor %}
                    {% endif %}
                </select>
            </p>
            <p class="w3-col w3-twothird">
                {% set event_start_date = rec.event_start_date | local_date_and_time_string %}
                {{ input_field(event_start_date,'event_start_date',id="event_start_date", label="Event Starts", placeholder="Event Start Date and Time") }}
            </p>
        </div>
        <div class="w3-row">
            <p class="w3-col w3-third">
                {{ select_field("event_end_date_label_id","Calendar Label",class="w3-border") }}
                    {% if event_date_labels %}
                    {% for label in event_date_labels %}
                        <option value="{{label.id}}" {% if label.id == rec.event_end_date_label_id %}selected="selected" {% endif %}>{{label.label}}</option>
                    {% endfor %}
                    {% endif %}
                </select>
            </p>
            <p class="w3-col w3-twothird">
                {% set event_end_date = rec.event_end_date | local_date_and_time_string %}
                {{ input_field(event_end_date,'event_end_date',id="event_end_date", label="Event Ends", placeholder="Event End Date and Time") }}
            </p>
        </div>
        <p>{{ label_only(label="Service Times (if different)")}}</p>
        <div class="w3-row">
            <p class="w3-col w3-third">
                {{ select_field("service_start_date_label_id","Calendar Label",class="w3-border") }}
                    {% if event_date_labels %}
                    {% for label in event_date_labels %}
                        <option value="{{label.id}}" {% if label.id == rec.service_start_date_label_id %}selected="selected" {% endif %}>{{label.label}}</option>
                    {% endfor %}
                    {% endif %}
                </select>
            </p>
            <p class="w3-col w3-twothird">
                {% set service_start_date = rec.service_start_date | local_date_and_time_string %}
                {{ input_field(service_start_date,'service_start_date',id="service_start_date", label="Service Starts", placeholder="Service Start Date and Time") }}
            </p>
        </div>
        <div class="w3-row">
            <p class="w3-col w3-third">
                {{ select_field("service_end_date_label_id","Calendar Label",class="w3-border") }}
                    {% if event_date_labels %}
                    {% for label in event_date_labels %}
                        <option value="{{label.id}}" {% if label.id == rec.service_end_date_label_id %}selected="selected" {% endif %}>{{label.label}}</option>
                    {% endfor %}
                    {% endif %}
                </select>
            </p>
            <p class="w3-col w3-twothird">
                {% set service_end_date = rec.service_end_date | local_date_and_time_string %}
                {{ input_field(service_end_date,'service_end_date',id="service_end_date", label="Service Ends", placeholder="Service End Date and Time") }}
            </p>
        </div>
    </div>
    <div id="job-list" class="w3-card-4" style="margin-top:10pt;">
        {{ job_embed_list | default("No Jobs Created Yet", True) | safe }}
    </div>        
</div>
      
<script>
    // set the placeholder text
    {% for key, value in placeholders.items() %}
    $("#{{key}}").attr('placeholder',"{{value}}");
    {% endfor %}
    
    var date_format = "%c/%e/%y %l:%i%p"; // "3/4/19 06:00AM"
    var pickers = ["#event_start_date","#event_end_date","#service_start_date","#service_end_date"]
    for( i = 0;i<pickers.length;i++){
        $(pickers[i]).AnyTime_picker({ format: date_format } );                
    }
    
    // so the date picker will show above modal job form
    $("#modal-form-contain").css({'z-index':'auto'})
    //$('.AnyTime-pkr *').css({'z-index':'auto'})
    
    
    function updateClientFields(x) {
      var client_id = x.value.toString();
      // query the database for this client id
      $.get('{{ url_for('client.get_rec_as_json')}}'+client_id+'/',
      function(data){
          var y
          // stuff the result (json) into the fields
          data = JSON.parse(data)
          $('#client_contact').attr({'value':data.contact_first_name + " " + data.contact_last_name})
          $('#client_phone').attr({'value':data.phone})
          $('#client_email').attr({'value':data.email})
          $('#client_website').attr({'value':data.website})
      });
    }
</script>
            
{% endblock fieldset %}
