<td>
    <p>
        {{ job.job_title | truncate(40) }}<br>
        <span class="w3-small">- {{ job.start_date | local_time_string | lower }}
            <span> - {{ job.end_date | local_time_string | lower }}</span>
        </span>
    </p>
    {% set participant_list = [] %}
    {% if job.participants[job.job_id] %}
    {% set participant_list = job.participants[job.job_id]['user_data']%}
    {% endif %}
    <div class="w3-small" style="text-align:left;">
        <table class="w3-table">
        {# Jinja needs a complex var created outside the loops, Change the content of the var in loop. #}
        {% set row_count = [1] %}
        {% if participant_list %}
            {% for participant in participant_list %}
            <tr class="{% if job.is_volunteer_job %}filled-volunteer-shift{% else %}filled-shift{% endif %}">
                <td>{{ row_count[0] }}. {{ participant.user_name }}
                {% if participant.phone %}
                <a href="tel:{{participant.phone}}">Call</a> / <a href="sms:{{participant.phone}}">Text</a>
                {% else %}No Phone{% endif %}
                {% if participant.email %}
                / <a href="mailto:{{participant.email}}">Email</a>
                {% else %} / No email{% endif %}
                {% if participant.positions > 1 %}({{participant.positions}}) People{% endif %}
                {% set _ = row_count.append(row_count.pop() + 1)%}
                </td>
            </tr>
            {% endfor %}
        {% endif %}
        {% for x in range(job.max_positions+1)%}
            {% if row_count[0] <= job.max_positions %}
            <tr class="{% if job.is_volunteer_job %}open-volunteer-shift{% else %}open-shift{% endif %}" ><td>{{ row_count[0] }}. <em>&mdash; Open &mdash;</em></td></tr>
            {%endif%}{% set _ = row_count.append(row_count.pop() + 1)%}
        {% endfor %}
        </table>
    
</td>
