{# Spreadsheet page layout for roster #}

{% block body %}
        {% set job_date_header_list = []%}
        {% set event_id = [0] %}
        {% set job_start_date = [''] %}
        {% set job_location_name = [''] %}
        <table id="roster_table" class="w3-table">
            <tr style="border-top:2pt black solid;">
                <th>Date</th>
                <th>Title</th>
                <th>Client</th>
                <th>Location</th>
                <th>Jobs</th>
            </tr>
        {% for job in jobs %}
            {% if job.event_id != event_id[0] or job.start_date[:10] != job_start_date[0] %}
            
            {# don't show event head again till event changes #}
            {% set _ = event_id.pop() %}
            {% set _ = event_id.append(job.event_id) %}
            {% set _ = job_start_date.pop() %}
            {% set _ = job_start_date.append(job.start_date[:10]) %}
            {% set _ = job_location_name.pop() %}
            {% set _ = job_location_name.append('') %}
            <tr style="border-top:2pt black solid;">
                <td>{{ job.start_date[:10] | abbr_date_string }}</td>
                <td>
                    <p>
                        {{ job.calendar_title }} 
                        {% if is_admin %}
                        <a href="{{ url_for('event.edit_from_activity')}}{{ job.event_id}}/{{ job.activity_id }}/"><em>(Edit)</em></a>
                        {% endif %}
                    </p>
                    {{ job.event_staff_info | render_markdown }}
                <div class="w3-small" >
                    <p>
                        <strong>{{ job.event_start_label }}</strong>: {{ job.event_start_date | local_time_string }}  &ndash; 
                        <strong>{{ job.event_end_label }}</strong>: {{ job.event_end_date | local_time_string }}
                        <br>
                        <strong>{{ job.service_start_label }}</strong>: {{ job.service_start_date | local_time_string }}  &ndash; 
                        <strong>{{ job.service_end_label }}</strong>: {{ job.service_end_date | local_time_string }}
                    </p>                    <p>
                        <a href="#" onclick="editFromList('{{ url_for('event.send_event_email')}}{{job.event_id}}');return false;">
                            Email staff
                        </a>
                    </p>

                </div>
                </td>
                <td>
                   <p>Client: {{ job.client_contact }}<br>Phone: {{job.client_phone}}<br>email: {{ job.client_email}}</p>
                </td>
                <td>{{ job.job_loc_name }}</td>
                {% include "roster_spreadsheet_job.html"%}
            {% else %}
            <tr>
            <td colspan="4" style="background-color:#ddd;">&nbsp;</td>
            {% include "roster_spreadsheet_job.html"%}
            {% endif %}{# if event change #}
        </tr>
        {% endfor %} {# jobs #}
    </table>
        
{% endblock body %}