{% from "_form_helpers.html" import select_field, checkbox_field  %}

<div class="w3-panel w3-card-2 w3-secondary-color">
    <div class="w3-row">
        <p class="w3-col l11 m11 s12" ><strong>Event Roster</strong></p>
    </div>
        <div class="w3-col l1 m1 w3-hide-small ">
        <p><img style="width:90%" src="{{url_for('static',filename='apple-touch-icon-114.png')}}" /></p>
        </div>
        <form action="" method="post" >
            <div class="w3-col l3 m3" >
                <p>
                    {{ select_field("display_end_days","Show from today thru",extras="") }}
                        <option value="0">Today Only</option>
                        <option value="7" {% if display_end_days == 7 %}selected{% endif %} >Next Week</option>
                        <option value="30" {% if display_end_days == 30 %}selected{% endif %}>Next Month</option>
                        <option value="-1" {% if display_end_days == -1 %}selected{% endif %}>All Future Events</option>
                    </select>
                </p>
                {% if as_spreadsheet %}
                    {% set checked = 'checked="checked"' %}
                {% else %}
                    {% set checked = '' %}
                {% endif %}
                <p>{{ checkbox_field("True","as_spreadsheet",label="Spreadsheet Format",extras=checked) }}</p>
            </div>
            <p class="w3-col l2 m2" style="margin-left:10pt">
                <input class=" w3-button w3-primary-color w3-round-large" type="submit" value="Search">
            </p>
        </form>
    </div>
</div>

