{% extends 'signup_layout.html' %}


{% block body %}
    {% if not tasks %}
    <div class="w3-row w3-secondary-color task-contain " style="margin-top:-1px;">
         <h2>Sorry, there are no activities currently planned</h2>
    </div>
    {% else %}
    {% set task_start_date = [''] %}
    {% set activity_id = [0] %}
    {% for task in tasks %}
    {% if task.activity_id != activity_id[0] %}
    <div id="act-{{ task.activity_id }}" class="activity-contain w3-row-padding w3-secondary-color w3-topbar" style="padding-bottom:6pt;">        
        <p  class="w3-col l2 m2 w3-hide-small" style="padding-top:12pt;">
            {% if task.image_url %}
            <img class="w3-image" src="{{ task.image_url }}">
            {% else %}&nbsp;{% endif %}
        </p>
        <div class="w3-col w3-half w3-small" style="">
               <p class="w3-large">
                   <strong>{{ task.activity_title }}</strong>
                   {% if is_admin %}<a class="w3-small" href="{{ url_for('activity.edit')}}{{task.activity_id}}/" target="_blank"><em>(edit)</em></a>{% endif %}
               </p>
                {# render this as markdown #}
               <p class="">{{ task.activity_description }}</p>
        </div>
        <div class="w3-third " style="padding-left:4pt;">
            <p>
                <em>Where:</em> <strong>{{ task.act_loc_name | default("", True ) }}</strong> 
                {% if task.act_loc_lat and task.act_loc_lng %}<a href="#">Map...</a>{% endif %}
            </p>
            {% set width_pct = task.activity_filled_positions | default(0,True) / task.activity_max_positions * 74 %}
            {% if width_pct > 25.0 %}
            <p class="w3-small">Filled: 
                <a class="w3-button w3-primary-color w3-round-medium filled-bar" style="width:{{ width_pct }}%;"
                >{{ task.activity_filled_positions | default("0", True) }} of {{ task.activity_max_positions | default("0", True) }}</a>
            </p>
            {% else %}
            <p class="w3-small">Filled: 
                <a class="w3-button w3-primary-color w3-round-medium filled-bar" style="width:{{ width_pct }}%;">&nbsp;</a>
                &nbsp;{{ task.activity_filled_positions | default("0", True) }} of {{ task.activity_max_positions | default("0", True) }}
            </p>
            {% endif %}
            
        </div>
    </div>
    {% endif %} {# show activity head? #}
    {# only show the date once within task list of same date #}
    {% if task.start_date[:10] != task_start_date[0] %}
        <div class="w3-row w3-secondary-color task-contain task-date-contain" style="margin-top:-1px;">
            <div class="w3-col l1 m1 w3-hide-small">&nbsp;</div>
            <div class="w3-col l11 m11">
                <hr style="margin:0 0 3pt 0;position:relative;top:-1px;">
                <p>
                    <a class="w3-button w3-round-medium w3-primary-color task-date-more-{{task.start_date[:10]}}" 
                    onclick="$('.task-date-container-{{ task.activity_id }}-{{task.start_date[:10]}}').show();$('.task-date-more-{{task.start_date[:10]}}').hide();"
                    >+</a>
                    <a class=" w3-button w3-round-medium w3-primary-color task-date-container-{{ task.activity_id }}-{{task.start_date[:10]}}" style="display:none;" 
                    onclick="$('.task-date-container-{{ task.activity_id }}-{{task.start_date[:10]}}').hide();
                    $('.task-date-more-{{task.start_date[:10]}}').show()">&ndash;</a>
                    <em>When:</em> <strong>{{ task.start_date[:10] | abbr_date_string }}</strong>
                </p>
                <hr style="margin:0;">
            </div>
        </div>
    {% endif %} {# show date? #}
     <div class="task-date-container-{{ task.activity_id }}-{{task.start_date[:10]}}" style="display:none;">
       <div id="task-body{{task.task_id}}">
            {% include 'signup_task.html' %}
        </div>
    </div>
    {# don't show activity head again till activity changes #}
    {% set _ = activity_id.pop() %}
    {% set _ = activity_id.append(task.activity_id) %}
    {% set _ = task_start_date.pop() %}
    {% set _ = task_start_date.append(task.start_date[:10]) %}
    {% endfor %} {# tasks #}
    
    {% endif %}{# not tasks #}
{% endblock body %}