{% extends 'layout.html' %}


{% block dialog %}
<div id="dialog"></div>
<div id="modal-form-contain" class="w3-modal" style="overflow:hidden;padding-top:20pt!important;">
    <div id="modal-form" class="w3-modal-content w3-animate-top" style="max-height:95vh;overflow:scroll;background:transparent;"></div>
</div>
{% endblock dialog %}

{% block head %}
    <script>
        function signup_count(which,howmany,maxcnt){
            var which = $(which)
            var cnt = parseInt(which.val())
            cnt = parseInt(cnt) + howmany;
            if(cnt >= 0 && cnt <= maxcnt ){
                which.val(cnt.toString());
            }
        }
    </script>
    
    <style>
        .event-contain{margin:6pt 0 0 0;}
        @media (min-width:993px){.event-contain{margin:10pt 16.6666% 0 16.6666%;}}
        .job-contain{margin:0;}
        @media (min-width:993px){.job-contain{margin:0 16.6666%;}}
        .participant-badge {padding:7pt;min-width:29pt;}
        .filled-bar {cursor:text;padding:3pt 0pt}
    </style>
{% endblock head %}

{% block document_title %}Volunteer Signup{% endblock %}

{% block header %}
<div class="w3-container w3-primary-color w3-main" >
    <p style="position:absolute;top:3pt;right:20pt;">
        {% if not g.user %}
        <a onclick="editFromList('{{ url_for('signup.login')}}1')">Sign in</a>
        {% else %}
        Hi {{ g.user }}!&nbsp;&nbsp;<a href="{{ url_for('signup.logout')}}">Sign Out</a>
        {% endif %}
    </p>
     <h2 style="text-align:center;margin-top:10pt;">SABA Volunteer Signup</h2>
</div>
{% endblock header %}

{% block page_header %}
<div class="w3-panel w3-card-2 w3-secondary-color">
    <p>Welcome to SABA Volunteer Signups.</p>
    <p>
        We depend on our volunteers to help us achieve the goal of continuing to make the Sacramento area 
        a great place for bicycling.
    </p>
    <p>
        Please take a look at the Events we have coming up. We'd love to see you there!
    </p>
</div>

{% endblock page_header %}