            
<div class="w3-panel w3-card-2 w3-secondary-color">
    <div class="w3-row  ">
        <div class="w3-col l1 m1 w3-hide-small ">
        <p><img style="width:90%" src="{{url_for('static',filename='apple-touch-icon-114.png')}}" /></p>
        </div>
        <div class="w3-col l11 m11" style="padding-left:15pt;">
            <p><strong>Welcome to our Volunteer Signups.</strong></p>
            <p>
                We depend on our volunteers to help us achieve our goals.
            </p>
            <p>
                Please take a look at the Events we have coming up. We'd love to see you there!
            </p>
        </div>
    </div>
</div>

