<form id="signupModalForm"  action="" method="POST">
    <input type="hidden" name="id" value="{{job.job_id}}">
    <div class="event-contain w3-row-padding w3-secondary-color w3-center" style="padding:20pt;"> 
        {% set shift_count = 1 %}
        {% set button_text = 'Sign Me Up' %}
        {% set submit_url =  url_for('signup.signup') %}
        {% set result_url = url_for('signup.signup_success') + job.job_id | string %}
        {% set acknowledge_url = url_for('signup.acknowledge_signup') + job.job_id | string %}
        {% set notification_text = "<br><em>(You'll receive an email with all the details for your calendar.)</em>"%}
        {% if signup.positions | int > 0 %}
            {# user is already signed up. Give the option to cancel #}
            {% set shift_count = 0 %}
            {% set button_text = "I can't be there" %}
            {% set notification_text = "" %}
            {% set acknowledge_url = url_for('signup.acknowledge_deletion') %}
        {% endif %}
        <input type="hidden" name="positions" value="{{shift_count}}">
        <p>
            You are {%if not shift_count %}currently signed{% else %}signing{% endif %} up<br>
            to help as <strong>{{job.job_title}}</strong> at<br>
            <span class="w3-large"><strong>{{ job.calendar_title }}</strong></span><br>
            on <strong>{{ job.start_date | abbr_date_string }}</strong><br>
            from <strong>{{ job.start_date | local_time_string | lower }}</strong> to 
           <strong> {{ job.end_date | local_time_string | lower }}</strong>
        </p>
        <p>
        	<input class="w3-button w3-primary-color w3-round-medium " type="button" 
                onclick="submitModalToModalForm('signupModalForm',
                '{{ submit_url }}',
                'job-body{{ job.job_id }}',
                '{{ result_url }}',
                '{{ acknowledge_url }}'
                )" 
                name="save" value="{{ button_text }}" />
            &nbsp;&nbsp;
        	<a class="w3-button w3-primary-color w3-round-medium " onclick="cancelModalForm()">Close</a>
           {{ notification_text | safe }}
        </p>
    </div>
</form>

