{% from "_form_helpers.html" import input_field, select_field, radio_field, checkbox_field, label_only %}

<form id="signupModalForm"  action="" method="POST">
    <input type="hidden" name='next' value="{{next}}">
    <div class="activity-contain w3-row-padding w3-secondary-color" style="padding:8pt;">  
        {% include 'flasher.html' %}
        <div id="signin-header">
            <h3>Volunteer Signin:</h3>
            <p>Please enter your email address.</p>
            <p>If you don't have an account, click the "Register" button below.</p>
        </div>
        <div id="register-header" style="display:none;">
            <h3>Account Registration:</h3>
            <p>Please enter the following information to create a Volunteer account.</p>
        </div>
        <p>{{ input_field(rec.email,'email',label="Email Address",req=True)}}</p>
        {% if password_required %}
        <p>{{ input_field(login_password,'login_password',label="Password",type="password", req=True)}}</p>
        {% endif %}
        
        <div id="signin-buttons">
    		<p>
        		<input class="w3-button w3-mobile  w3-primary-color w3-round-medium " type="button" 
                    onclick="{{ submit_script }}('signupModalForm',
                    '{{url_for('signup.login')}}{{ from_main }}',
                    {% if from_main %}''{% else %}'modal-form'{% endif %},
                    '{{next}}'
                    )" 
                    name="login" value="Login" />
                &nbsp;&nbsp;
        		Create a new Account: <a class="w3-button w3-mobile  w3-primary-color w3-round-medium " 
                    onclick="
                    showRegistration()
                    ">Register</a>
                &nbsp;&nbsp;
        		<a class="w3-button w3-mobile  w3-primary-color w3-round-medium " onclick="cancelModalForm()">Cancel</a>
    		</p>
        </div>
        
        <div id="register-buttons" style="display:none;">
            <p>{{ input_field(rec.first_name,'first_name',req=True)}}</p>
            <p>{{ input_field(rec.last_name,'last_name',req=True)}}</p>
            <p>{{ input_field(rec.phone,'phone',req=True,placeholder="###-###-####")}}</p>
            <p class="w3-border-bottom w3-label-color" style="margin-bottom:6pt;margin-top:0;">
                {% set extras = "" %}
                {% if not rec.may_send_text or rec.may_send_text | int > 0 %}{% set extras = ' checked="checked"' %}{% endif %}
                {{ radio_field(1,"may_send_text","May Send Texts",extras=extras ,right=False) }}&nbsp;
                {% set extras = "" %}&nbsp;&nbsp;
                {% if rec.may_send_text and rec.may_send_text | int < 1 %}{% set extras = ' checked="checked"' %}{% endif %}
                {{ radio_field(0,"may_send_text","No Texts Please",extras=extras ,right=False ) }}
            </p>
    		<p>
        		<input class="w3-button w3-mobile  w3-primary-color w3-round-medium " type="button" 
                    onclick="{{ submit_script }}('signupModalForm',
                    '{{url_for('signup.register')}}{{ from_main }}',
                    {% if from_main %}''{% else %}'modal-form'{% endif %},
                    '{{next}}'
                    )" 
                    name="register" value="Register" />
                &nbsp;&nbsp;
        		<a class="w3-button w3-mobile  w3-primary-color w3-round-medium " onclick="cancelModalForm()">Cancel</a>
    		</p>
        </div>
    </div>
</form>

{% if register %}<script>showRegistration();</script>{% endif %}

<script>
    function showRegistration(){
        $('#signin-buttons,#signin-header').hide();
        $('#register-buttons,#register-header').show();
    }
</script>
