<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositions</key>
	<array>
		<dict>
			<key>adjustmentRatioX</key>
			<real>0.0</real>
			<key>adjustmentRatioY</key>
			<real>0.0</real>
			<key>children</key>
			<array>
				<dict>
					<key>adjustmentRatioX</key>
					<real>0.0</real>
					<key>adjustmentRatioY</key>
					<real>0.0</real>
					<key>className</key>
					<string>MMImage</string>
					<key>constrainAspectRatio</key>
					<true/>
					<key>contentFilterSpecs</key>
					<array/>
					<key>fillAngle</key>
					<integer>0</integer>
					<key>fillColor</key>
					<string>1.000000:1.000000:1.000000:1.000000</string>
					<key>fillGradientElements</key>
					<array/>
					<key>fillShadowBlur</key>
					<real>12</real>
					<key>fillShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.500000</string>
					<key>fillShadowHidden</key>
					<true/>
					<key>fillShadowOffsetX</key>
					<real>0.0</real>
					<key>fillShadowOffsetY</key>
					<real>0.0</real>
					<key>fillType</key>
					<integer>5</integer>
					<key>frame</key>
					<string>{{0, 0}, {628, 618}}</string>
					<key>hidden</key>
					<false/>
					<key>identifier</key>
					<string>A1A75D08-BF9C-4ACD-8F4F-D52C1777EA1E</string>
					<key>imageAnchorRatio</key>
					<string>{0.5, 0.5}</string>
					<key>imageIdentifier</key>
					<string>0560A90C-8830-4483-B171-435E491BF5CA</string>
					<key>imageType</key>
					<integer>0</integer>
					<key>locked</key>
					<false/>
					<key>opacity</key>
					<real>1</real>
					<key>rotationAngle</key>
					<integer>0</integer>
					<key>rotationHandleRadius</key>
					<real>100</real>
					<key>scaleImage</key>
					<true/>
					<key>stroke1Color</key>
					<string>0.000000:0.000000:0.000000:1.000000</string>
					<key>stroke1Enabled</key>
					<false/>
					<key>stroke2Color</key>
					<string>1.000000:1.000000:1.000000:1.000000</string>
					<key>stroke2Enabled</key>
					<true/>
					<key>strokeColor</key>
					<string>1.000000:0.000000:1.000000:1.000000</string>
					<key>strokeLineCap</key>
					<integer>1</integer>
					<key>strokeLineJoin</key>
					<integer>1</integer>
					<key>strokeLineWidth</key>
					<real>3</real>
					<key>strokeShadowBlur</key>
					<real>3</real>
					<key>strokeShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>strokeShadowHidden</key>
					<true/>
					<key>strokeShadowOffsetX</key>
					<real>0.0</real>
					<key>strokeShadowOffsetY</key>
					<real>0.0</real>
					<key>strokeType</key>
					<integer>3</integer>
					<key>textAlign</key>
					<integer>2</integer>
					<key>textAppearanceType</key>
					<integer>0</integer>
					<key>textDrawOnPath</key>
					<false/>
					<key>textShadowBlur</key>
					<real>5</real>
					<key>textShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>textShadowHidden</key>
					<true/>
					<key>textShadowOffsetX</key>
					<real>0.0</real>
					<key>textShadowOffsetY</key>
					<real>0.0</real>
					<key>textVerticalAlign</key>
					<integer>0</integer>
					<key>title</key>
					<string>Image</string>
					<key>userSetTitle</key>
					<false/>
				</dict>
				<dict>
					<key>adjustmentRatioX</key>
					<real>0.0</real>
					<key>adjustmentRatioY</key>
					<real>0.0</real>
					<key>attributedTextData</key>
					<data>
					e1xydGYxXGFuc2lcYW5zaWNwZzEyNTJcY29j
					b2FydGYyNTExClxjb2NvYXRleHRzY2FsaW5n
					MFxjb2NvYXBsYXRmb3JtMHtcZm9udHRibFxm
					MFxmc3dpc3NcZmNoYXJzZXQwIEhlbHZldGlj
					YTt9CntcY29sb3J0Ymw7XHJlZDI1NVxncmVl
					bjI1NVxibHVlMjU1O1xyZWQwXGdyZWVuMFxi
					bHVlMDt9CntcKlxleHBhbmRlZGNvbG9ydGJs
					OztcY3NnZW5lcmljcmdiXGMwXGMwXGMwO30K
					XHBhcmRcdHg1NjBcdHgxMTIwXHR4MTY4MFx0
					eDIyNDBcdHgyODAwXHR4MzM2MFx0eDM5MjBc
					dHg0NDgwXHR4NTA0MFx0eDU2MDBcdHg2MTYw
					XHR4NjcyMFxwYXJkaXJuYXR1cmFsXHFjXHBh
					cnRpZ2h0ZW5mYWN0b3IwCgpcZjBcZnM0MCBc
					Y2YyIFx1cDAgMX0=
					</data>
					<key>className</key>
					<string>MMEllipse</string>
					<key>constrainAspectRatio</key>
					<false/>
					<key>contentFilterSpecs</key>
					<array/>
					<key>fillAngle</key>
					<integer>0</integer>
					<key>fillColor</key>
					<string>0.886471:0.664870:0.786401:1.000000</string>
					<key>fillGradientElements</key>
					<array/>
					<key>fillShadowBlur</key>
					<real>3</real>
					<key>fillShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.500000</string>
					<key>fillShadowHidden</key>
					<false/>
					<key>fillShadowOffsetX</key>
					<real>0.0</real>
					<key>fillShadowOffsetY</key>
					<real>0.0</real>
					<key>fillType</key>
					<integer>0</integer>
					<key>frame</key>
					<string>{{327, 16}, {30, 30}}</string>
					<key>hidden</key>
					<false/>
					<key>identifier</key>
					<string>5FF5AAEF-38B7-4310-94D1-8DB1F2104D53</string>
					<key>imageAnchorRatio</key>
					<string>{0.5, 0.5}</string>
					<key>imageType</key>
					<integer>0</integer>
					<key>locked</key>
					<false/>
					<key>opacity</key>
					<real>1</real>
					<key>rotationAngle</key>
					<integer>0</integer>
					<key>rotationHandleRadius</key>
					<real>100</real>
					<key>scaleImage</key>
					<true/>
					<key>stroke1Color</key>
					<string></string>
					<key>stroke1Enabled</key>
					<true/>
					<key>stroke2Color</key>
					<string>1.000000:1.000000:1.000000:1.000000</string>
					<key>stroke2Enabled</key>
					<true/>
					<key>strokeColor</key>
					<string>0.929046:0.101562:0.106198:1.000000</string>
					<key>strokeLineCap</key>
					<integer>1</integer>
					<key>strokeLineJoin</key>
					<integer>1</integer>
					<key>strokeLineWidth</key>
					<real>3</real>
					<key>strokeShadowBlur</key>
					<real>3</real>
					<key>strokeShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>strokeShadowHidden</key>
					<true/>
					<key>strokeShadowOffsetX</key>
					<real>0.0</real>
					<key>strokeShadowOffsetY</key>
					<real>0.0</real>
					<key>strokeType</key>
					<integer>0</integer>
					<key>textAlign</key>
					<integer>2</integer>
					<key>textAppearanceType</key>
					<integer>0</integer>
					<key>textDrawOnPath</key>
					<false/>
					<key>textShadowBlur</key>
					<real>5</real>
					<key>textShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>textShadowHidden</key>
					<true/>
					<key>textShadowOffsetX</key>
					<real>0.0</real>
					<key>textShadowOffsetY</key>
					<real>0.0</real>
					<key>textVerticalAlign</key>
					<integer>0</integer>
					<key>title</key>
					<string>Ellipse</string>
					<key>userSetTitle</key>
					<false/>
				</dict>
				<dict>
					<key>adjustmentRatioX</key>
					<real>0.0</real>
					<key>adjustmentRatioY</key>
					<real>0.0</real>
					<key>attributedTextData</key>
					<data>
					e1xydGYxXGFuc2lcYW5zaWNwZzEyNTJcY29j
					b2FydGYyNTExClxjb2NvYXRleHRzY2FsaW5n
					MFxjb2NvYXBsYXRmb3JtMHtcZm9udHRibFxm
					MFxmc3dpc3NcZmNoYXJzZXQwIEhlbHZldGlj
					YTt9CntcY29sb3J0Ymw7XHJlZDI1NVxncmVl
					bjI1NVxibHVlMjU1O1xyZWQwXGdyZWVuMFxi
					bHVlMDt9CntcKlxleHBhbmRlZGNvbG9ydGJs
					OztcY3NnZW5lcmljcmdiXGMwXGMwXGMwO30K
					XHBhcmRcdHg1NjBcdHgxMTIwXHR4MTY4MFx0
					eDIyNDBcdHgyODAwXHR4MzM2MFx0eDM5MjBc
					dHg0NDgwXHR4NTA0MFx0eDU2MDBcdHg2MTYw
					XHR4NjcyMFxwYXJkaXJuYXR1cmFsXHFjXHBh
					cnRpZ2h0ZW5mYWN0b3IwCgpcZjBcZnM0MCBc
					Y2YyIFx1cDAgMn0=
					</data>
					<key>className</key>
					<string>MMEllipse</string>
					<key>constrainAspectRatio</key>
					<false/>
					<key>contentFilterSpecs</key>
					<array/>
					<key>fillAngle</key>
					<integer>0</integer>
					<key>fillColor</key>
					<string>0.886471:0.664870:0.786401:1.000000</string>
					<key>fillGradientElements</key>
					<array/>
					<key>fillShadowBlur</key>
					<real>3</real>
					<key>fillShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.500000</string>
					<key>fillShadowHidden</key>
					<false/>
					<key>fillShadowOffsetX</key>
					<real>0.0</real>
					<key>fillShadowOffsetY</key>
					<real>0.0</real>
					<key>fillType</key>
					<integer>0</integer>
					<key>frame</key>
					<string>{{327, 63}, {30, 30}}</string>
					<key>hidden</key>
					<false/>
					<key>identifier</key>
					<string>EF0BEC73-32D5-483B-A9F2-07B21361F885</string>
					<key>imageAnchorRatio</key>
					<string>{0.5, 0.5}</string>
					<key>imageType</key>
					<integer>0</integer>
					<key>locked</key>
					<false/>
					<key>opacity</key>
					<real>1</real>
					<key>rotationAngle</key>
					<integer>0</integer>
					<key>rotationHandleRadius</key>
					<real>100</real>
					<key>scaleImage</key>
					<true/>
					<key>stroke1Color</key>
					<string></string>
					<key>stroke1Enabled</key>
					<true/>
					<key>stroke2Color</key>
					<string>1.000000:1.000000:1.000000:1.000000</string>
					<key>stroke2Enabled</key>
					<true/>
					<key>strokeColor</key>
					<string>0.929046:0.101562:0.106198:1.000000</string>
					<key>strokeLineCap</key>
					<integer>1</integer>
					<key>strokeLineJoin</key>
					<integer>1</integer>
					<key>strokeLineWidth</key>
					<real>3</real>
					<key>strokeShadowBlur</key>
					<real>3</real>
					<key>strokeShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>strokeShadowHidden</key>
					<true/>
					<key>strokeShadowOffsetX</key>
					<real>0.0</real>
					<key>strokeShadowOffsetY</key>
					<real>0.0</real>
					<key>strokeType</key>
					<integer>0</integer>
					<key>textAlign</key>
					<integer>2</integer>
					<key>textAppearanceType</key>
					<integer>0</integer>
					<key>textDrawOnPath</key>
					<false/>
					<key>textShadowBlur</key>
					<real>5</real>
					<key>textShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>textShadowHidden</key>
					<true/>
					<key>textShadowOffsetX</key>
					<real>0.0</real>
					<key>textShadowOffsetY</key>
					<real>0.0</real>
					<key>textVerticalAlign</key>
					<integer>0</integer>
					<key>title</key>
					<string>Ellipse</string>
					<key>userSetTitle</key>
					<false/>
				</dict>
				<dict>
					<key>adjustmentRatioX</key>
					<real>0.0</real>
					<key>adjustmentRatioY</key>
					<real>0.0</real>
					<key>attributedTextData</key>
					<data>
					e1xydGYxXGFuc2lcYW5zaWNwZzEyNTJcY29j
					b2FydGYyNTExClxjb2NvYXRleHRzY2FsaW5n
					MFxjb2NvYXBsYXRmb3JtMHtcZm9udHRibFxm
					MFxmc3dpc3NcZmNoYXJzZXQwIEhlbHZldGlj
					YTt9CntcY29sb3J0Ymw7XHJlZDI1NVxncmVl
					bjI1NVxibHVlMjU1O1xyZWQwXGdyZWVuMFxi
					bHVlMDt9CntcKlxleHBhbmRlZGNvbG9ydGJs
					OztcY3NnZW5lcmljcmdiXGMwXGMwXGMwO30K
					XHBhcmRcdHg1NjBcdHgxMTIwXHR4MTY4MFx0
					eDIyNDBcdHgyODAwXHR4MzM2MFx0eDM5MjBc
					dHg0NDgwXHR4NTA0MFx0eDU2MDBcdHg2MTYw
					XHR4NjcyMFxwYXJkaXJuYXR1cmFsXHFjXHBh
					cnRpZ2h0ZW5mYWN0b3IwCgpcZjBcZnM0MCBc
					Y2YyIFx1cDAgM30=
					</data>
					<key>className</key>
					<string>MMEllipse</string>
					<key>constrainAspectRatio</key>
					<false/>
					<key>contentFilterSpecs</key>
					<array/>
					<key>fillAngle</key>
					<integer>0</integer>
					<key>fillColor</key>
					<string>0.886471:0.664870:0.786401:1.000000</string>
					<key>fillGradientElements</key>
					<array/>
					<key>fillShadowBlur</key>
					<real>3</real>
					<key>fillShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.500000</string>
					<key>fillShadowHidden</key>
					<false/>
					<key>fillShadowOffsetX</key>
					<real>0.0</real>
					<key>fillShadowOffsetY</key>
					<real>0.0</real>
					<key>fillType</key>
					<integer>0</integer>
					<key>frame</key>
					<string>{{327, 109}, {30, 30}}</string>
					<key>hidden</key>
					<false/>
					<key>identifier</key>
					<string>8D40E49F-69FA-462D-AE1E-4864DDDEF79E</string>
					<key>imageAnchorRatio</key>
					<string>{0.5, 0.5}</string>
					<key>imageType</key>
					<integer>0</integer>
					<key>locked</key>
					<false/>
					<key>opacity</key>
					<real>1</real>
					<key>rotationAngle</key>
					<integer>0</integer>
					<key>rotationHandleRadius</key>
					<real>100</real>
					<key>scaleImage</key>
					<true/>
					<key>stroke1Color</key>
					<string></string>
					<key>stroke1Enabled</key>
					<true/>
					<key>stroke2Color</key>
					<string>1.000000:1.000000:1.000000:1.000000</string>
					<key>stroke2Enabled</key>
					<true/>
					<key>strokeColor</key>
					<string>0.929046:0.101562:0.106198:1.000000</string>
					<key>strokeLineCap</key>
					<integer>1</integer>
					<key>strokeLineJoin</key>
					<integer>1</integer>
					<key>strokeLineWidth</key>
					<real>3</real>
					<key>strokeShadowBlur</key>
					<real>3</real>
					<key>strokeShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>strokeShadowHidden</key>
					<true/>
					<key>strokeShadowOffsetX</key>
					<real>0.0</real>
					<key>strokeShadowOffsetY</key>
					<real>0.0</real>
					<key>strokeType</key>
					<integer>0</integer>
					<key>textAlign</key>
					<integer>2</integer>
					<key>textAppearanceType</key>
					<integer>0</integer>
					<key>textDrawOnPath</key>
					<false/>
					<key>textShadowBlur</key>
					<real>5</real>
					<key>textShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>textShadowHidden</key>
					<true/>
					<key>textShadowOffsetX</key>
					<real>0.0</real>
					<key>textShadowOffsetY</key>
					<real>0.0</real>
					<key>textVerticalAlign</key>
					<integer>0</integer>
					<key>title</key>
					<string>Ellipse</string>
					<key>userSetTitle</key>
					<false/>
				</dict>
				<dict>
					<key>adjustmentRatioX</key>
					<real>0.0</real>
					<key>adjustmentRatioY</key>
					<real>0.0</real>
					<key>attributedTextData</key>
					<data>
					e1xydGYxXGFuc2lcYW5zaWNwZzEyNTJcY29j
					b2FydGYyNTExClxjb2NvYXRleHRzY2FsaW5n
					MFxjb2NvYXBsYXRmb3JtMHtcZm9udHRibFxm
					MFxmc3dpc3NcZmNoYXJzZXQwIEhlbHZldGlj
					YTt9CntcY29sb3J0Ymw7XHJlZDI1NVxncmVl
					bjI1NVxibHVlMjU1O1xyZWQwXGdyZWVuMFxi
					bHVlMDt9CntcKlxleHBhbmRlZGNvbG9ydGJs
					OztcY3NnZW5lcmljcmdiXGMwXGMwXGMwO30K
					XHBhcmRcdHg1NjBcdHgxMTIwXHR4MTY4MFx0
					eDIyNDBcdHgyODAwXHR4MzM2MFx0eDM5MjBc
					dHg0NDgwXHR4NTA0MFx0eDU2MDBcdHg2MTYw
					XHR4NjcyMFxwYXJkaXJuYXR1cmFsXHFjXHBh
					cnRpZ2h0ZW5mYWN0b3IwCgpcZjBcZnM0MCBc
					Y2YyIFx1cDAgNH0=
					</data>
					<key>className</key>
					<string>MMEllipse</string>
					<key>constrainAspectRatio</key>
					<false/>
					<key>contentFilterSpecs</key>
					<array/>
					<key>fillAngle</key>
					<integer>0</integer>
					<key>fillColor</key>
					<string>0.886471:0.664870:0.786401:1.000000</string>
					<key>fillGradientElements</key>
					<array/>
					<key>fillShadowBlur</key>
					<real>3</real>
					<key>fillShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.500000</string>
					<key>fillShadowHidden</key>
					<false/>
					<key>fillShadowOffsetX</key>
					<real>0.0</real>
					<key>fillShadowOffsetY</key>
					<real>0.0</real>
					<key>fillType</key>
					<integer>0</integer>
					<key>frame</key>
					<string>{{327, 353}, {30, 30}}</string>
					<key>hidden</key>
					<false/>
					<key>identifier</key>
					<string>43B0A54C-CA09-4588-A8BD-0E37C4E4638C</string>
					<key>imageAnchorRatio</key>
					<string>{0.5, 0.5}</string>
					<key>imageType</key>
					<integer>0</integer>
					<key>locked</key>
					<false/>
					<key>opacity</key>
					<real>1</real>
					<key>rotationAngle</key>
					<integer>0</integer>
					<key>rotationHandleRadius</key>
					<real>100</real>
					<key>scaleImage</key>
					<true/>
					<key>stroke1Color</key>
					<string></string>
					<key>stroke1Enabled</key>
					<true/>
					<key>stroke2Color</key>
					<string>1.000000:1.000000:1.000000:1.000000</string>
					<key>stroke2Enabled</key>
					<true/>
					<key>strokeColor</key>
					<string>0.929046:0.101562:0.106198:1.000000</string>
					<key>strokeLineCap</key>
					<integer>1</integer>
					<key>strokeLineJoin</key>
					<integer>1</integer>
					<key>strokeLineWidth</key>
					<real>3</real>
					<key>strokeShadowBlur</key>
					<real>3</real>
					<key>strokeShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>strokeShadowHidden</key>
					<true/>
					<key>strokeShadowOffsetX</key>
					<real>0.0</real>
					<key>strokeShadowOffsetY</key>
					<real>0.0</real>
					<key>strokeType</key>
					<integer>0</integer>
					<key>textAlign</key>
					<integer>2</integer>
					<key>textAppearanceType</key>
					<integer>0</integer>
					<key>textDrawOnPath</key>
					<false/>
					<key>textShadowBlur</key>
					<real>5</real>
					<key>textShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>textShadowHidden</key>
					<true/>
					<key>textShadowOffsetX</key>
					<real>0.0</real>
					<key>textShadowOffsetY</key>
					<real>0.0</real>
					<key>textVerticalAlign</key>
					<integer>0</integer>
					<key>title</key>
					<string>Ellipse</string>
					<key>userSetTitle</key>
					<false/>
				</dict>
				<dict>
					<key>adjustmentRatioX</key>
					<real>0.0</real>
					<key>adjustmentRatioY</key>
					<real>0.0</real>
					<key>attributedTextData</key>
					<data>
					e1xydGYxXGFuc2lcYW5zaWNwZzEyNTJcY29j
					b2FydGYyNTExClxjb2NvYXRleHRzY2FsaW5n
					MFxjb2NvYXBsYXRmb3JtMHtcZm9udHRibFxm
					MFxmc3dpc3NcZmNoYXJzZXQwIEhlbHZldGlj
					YTt9CntcY29sb3J0Ymw7XHJlZDI1NVxncmVl
					bjI1NVxibHVlMjU1O1xyZWQwXGdyZWVuMFxi
					bHVlMDt9CntcKlxleHBhbmRlZGNvbG9ydGJs
					OztcY3NnZW5lcmljcmdiXGMwXGMwXGMwO30K
					XHBhcmRcdHg1NjBcdHgxMTIwXHR4MTY4MFx0
					eDIyNDBcdHgyODAwXHR4MzM2MFx0eDM5MjBc
					dHg0NDgwXHR4NTA0MFx0eDU2MDBcdHg2MTYw
					XHR4NjcyMFxwYXJkaXJuYXR1cmFsXHFjXHBh
					cnRpZ2h0ZW5mYWN0b3IwCgpcZjBcZnM0MCBc
					Y2YyIFx1cDAgNX0=
					</data>
					<key>className</key>
					<string>MMEllipse</string>
					<key>constrainAspectRatio</key>
					<false/>
					<key>contentFilterSpecs</key>
					<array/>
					<key>fillAngle</key>
					<integer>0</integer>
					<key>fillColor</key>
					<string>0.886471:0.664870:0.786401:1.000000</string>
					<key>fillGradientElements</key>
					<array/>
					<key>fillShadowBlur</key>
					<real>3</real>
					<key>fillShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.500000</string>
					<key>fillShadowHidden</key>
					<false/>
					<key>fillShadowOffsetX</key>
					<real>0.0</real>
					<key>fillShadowOffsetY</key>
					<real>0.0</real>
					<key>fillType</key>
					<integer>0</integer>
					<key>frame</key>
					<string>{{327, 410}, {30, 30}}</string>
					<key>hidden</key>
					<false/>
					<key>identifier</key>
					<string>92BD7B81-D18A-4901-AB3D-FBEC2E196804</string>
					<key>imageAnchorRatio</key>
					<string>{0.5, 0.5}</string>
					<key>imageType</key>
					<integer>0</integer>
					<key>locked</key>
					<false/>
					<key>opacity</key>
					<real>1</real>
					<key>rotationAngle</key>
					<integer>0</integer>
					<key>rotationHandleRadius</key>
					<real>100</real>
					<key>scaleImage</key>
					<true/>
					<key>stroke1Color</key>
					<string></string>
					<key>stroke1Enabled</key>
					<true/>
					<key>stroke2Color</key>
					<string>1.000000:1.000000:1.000000:1.000000</string>
					<key>stroke2Enabled</key>
					<true/>
					<key>strokeColor</key>
					<string>0.929046:0.101562:0.106198:1.000000</string>
					<key>strokeLineCap</key>
					<integer>1</integer>
					<key>strokeLineJoin</key>
					<integer>1</integer>
					<key>strokeLineWidth</key>
					<real>3</real>
					<key>strokeShadowBlur</key>
					<real>3</real>
					<key>strokeShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>strokeShadowHidden</key>
					<true/>
					<key>strokeShadowOffsetX</key>
					<real>0.0</real>
					<key>strokeShadowOffsetY</key>
					<real>0.0</real>
					<key>strokeType</key>
					<integer>0</integer>
					<key>textAlign</key>
					<integer>2</integer>
					<key>textAppearanceType</key>
					<integer>0</integer>
					<key>textDrawOnPath</key>
					<false/>
					<key>textShadowBlur</key>
					<real>5</real>
					<key>textShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>textShadowHidden</key>
					<true/>
					<key>textShadowOffsetX</key>
					<real>0.0</real>
					<key>textShadowOffsetY</key>
					<real>0.0</real>
					<key>textVerticalAlign</key>
					<integer>0</integer>
					<key>title</key>
					<string>Ellipse</string>
					<key>userSetTitle</key>
					<false/>
				</dict>
				<dict>
					<key>adjustmentRatioX</key>
					<real>0.0</real>
					<key>adjustmentRatioY</key>
					<real>0.0</real>
					<key>attributedTextData</key>
					<data>
					e1xydGYxXGFuc2lcYW5zaWNwZzEyNTJcY29j
					b2FydGYyNTExClxjb2NvYXRleHRzY2FsaW5n
					MFxjb2NvYXBsYXRmb3JtMHtcZm9udHRibFxm
					MFxmc3dpc3NcZmNoYXJzZXQwIEhlbHZldGlj
					YTt9CntcY29sb3J0Ymw7XHJlZDI1NVxncmVl
					bjI1NVxibHVlMjU1O1xyZWQwXGdyZWVuMFxi
					bHVlMDt9CntcKlxleHBhbmRlZGNvbG9ydGJs
					OztcY3NnZW5lcmljcmdiXGMwXGMwXGMwO30K
					XHBhcmRcdHg1NjBcdHgxMTIwXHR4MTY4MFx0
					eDIyNDBcdHgyODAwXHR4MzM2MFx0eDM5MjBc
					dHg0NDgwXHR4NTA0MFx0eDU2MDBcdHg2MTYw
					XHR4NjcyMFxwYXJkaXJuYXR1cmFsXHFjXHBh
					cnRpZ2h0ZW5mYWN0b3IwCgpcZjBcZnM0MCBc
					Y2YyIFx1cDAgNn0=
					</data>
					<key>className</key>
					<string>MMEllipse</string>
					<key>constrainAspectRatio</key>
					<false/>
					<key>contentFilterSpecs</key>
					<array/>
					<key>fillAngle</key>
					<integer>0</integer>
					<key>fillColor</key>
					<string>0.886471:0.664870:0.786401:1.000000</string>
					<key>fillGradientElements</key>
					<array/>
					<key>fillShadowBlur</key>
					<real>3</real>
					<key>fillShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.500000</string>
					<key>fillShadowHidden</key>
					<false/>
					<key>fillShadowOffsetX</key>
					<real>0.0</real>
					<key>fillShadowOffsetY</key>
					<real>0.0</real>
					<key>fillType</key>
					<integer>0</integer>
					<key>frame</key>
					<string>{{327, 472}, {30, 30}}</string>
					<key>hidden</key>
					<false/>
					<key>identifier</key>
					<string>CB192101-12AE-4C71-9DDE-D10C00C406AC</string>
					<key>imageAnchorRatio</key>
					<string>{0.5, 0.5}</string>
					<key>imageType</key>
					<integer>0</integer>
					<key>locked</key>
					<false/>
					<key>opacity</key>
					<real>1</real>
					<key>rotationAngle</key>
					<integer>0</integer>
					<key>rotationHandleRadius</key>
					<real>100</real>
					<key>scaleImage</key>
					<true/>
					<key>stroke1Color</key>
					<string></string>
					<key>stroke1Enabled</key>
					<true/>
					<key>stroke2Color</key>
					<string>1.000000:1.000000:1.000000:1.000000</string>
					<key>stroke2Enabled</key>
					<true/>
					<key>strokeColor</key>
					<string>0.929046:0.101562:0.106198:1.000000</string>
					<key>strokeLineCap</key>
					<integer>1</integer>
					<key>strokeLineJoin</key>
					<integer>1</integer>
					<key>strokeLineWidth</key>
					<real>3</real>
					<key>strokeShadowBlur</key>
					<real>3</real>
					<key>strokeShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>strokeShadowHidden</key>
					<true/>
					<key>strokeShadowOffsetX</key>
					<real>0.0</real>
					<key>strokeShadowOffsetY</key>
					<real>0.0</real>
					<key>strokeType</key>
					<integer>0</integer>
					<key>textAlign</key>
					<integer>2</integer>
					<key>textAppearanceType</key>
					<integer>0</integer>
					<key>textDrawOnPath</key>
					<false/>
					<key>textShadowBlur</key>
					<real>5</real>
					<key>textShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>textShadowHidden</key>
					<true/>
					<key>textShadowOffsetX</key>
					<real>0.0</real>
					<key>textShadowOffsetY</key>
					<real>0.0</real>
					<key>textVerticalAlign</key>
					<integer>0</integer>
					<key>title</key>
					<string>Ellipse</string>
					<key>userSetTitle</key>
					<false/>
				</dict>
				<dict>
					<key>adjustmentRatioX</key>
					<real>0.0</real>
					<key>adjustmentRatioY</key>
					<real>0.0</real>
					<key>attributedTextData</key>
					<data>
					e1xydGYxXGFuc2lcYW5zaWNwZzEyNTJcY29j
					b2FydGYyNTExClxjb2NvYXRleHRzY2FsaW5n
					MFxjb2NvYXBsYXRmb3JtMHtcZm9udHRibFxm
					MFxmc3dpc3NcZmNoYXJzZXQwIEhlbHZldGlj
					YTt9CntcY29sb3J0Ymw7XHJlZDI1NVxncmVl
					bjI1NVxibHVlMjU1O1xyZWQwXGdyZWVuMFxi
					bHVlMDt9CntcKlxleHBhbmRlZGNvbG9ydGJs
					OztcY3NnZW5lcmljcmdiXGMwXGMwXGMwO30K
					XHBhcmRcdHg1NjBcdHgxMTIwXHR4MTY4MFx0
					eDIyNDBcdHgyODAwXHR4MzM2MFx0eDM5MjBc
					dHg0NDgwXHR4NTA0MFx0eDU2MDBcdHg2MTYw
					XHR4NjcyMFxwYXJkaXJuYXR1cmFsXHFjXHBh
					cnRpZ2h0ZW5mYWN0b3IwCgpcZjBcZnM0MCBc
					Y2YyIFx1cDAgN30=
					</data>
					<key>className</key>
					<string>MMEllipse</string>
					<key>constrainAspectRatio</key>
					<false/>
					<key>contentFilterSpecs</key>
					<array/>
					<key>fillAngle</key>
					<integer>0</integer>
					<key>fillColor</key>
					<string>0.886471:0.664870:0.786401:1.000000</string>
					<key>fillGradientElements</key>
					<array/>
					<key>fillShadowBlur</key>
					<real>3</real>
					<key>fillShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.500000</string>
					<key>fillShadowHidden</key>
					<false/>
					<key>fillShadowOffsetX</key>
					<real>0.0</real>
					<key>fillShadowOffsetY</key>
					<real>0.0</real>
					<key>fillType</key>
					<integer>0</integer>
					<key>frame</key>
					<string>{{327, 525}, {30, 30}}</string>
					<key>hidden</key>
					<false/>
					<key>identifier</key>
					<string>22210A21-AC07-444D-A15B-E4EC1C7292BF</string>
					<key>imageAnchorRatio</key>
					<string>{0.5, 0.5}</string>
					<key>imageType</key>
					<integer>0</integer>
					<key>locked</key>
					<false/>
					<key>opacity</key>
					<real>1</real>
					<key>rotationAngle</key>
					<integer>0</integer>
					<key>rotationHandleRadius</key>
					<real>100</real>
					<key>scaleImage</key>
					<true/>
					<key>stroke1Color</key>
					<string></string>
					<key>stroke1Enabled</key>
					<true/>
					<key>stroke2Color</key>
					<string>1.000000:1.000000:1.000000:1.000000</string>
					<key>stroke2Enabled</key>
					<true/>
					<key>strokeColor</key>
					<string>0.929046:0.101562:0.106198:1.000000</string>
					<key>strokeLineCap</key>
					<integer>1</integer>
					<key>strokeLineJoin</key>
					<integer>1</integer>
					<key>strokeLineWidth</key>
					<real>3</real>
					<key>strokeShadowBlur</key>
					<real>3</real>
					<key>strokeShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>strokeShadowHidden</key>
					<true/>
					<key>strokeShadowOffsetX</key>
					<real>0.0</real>
					<key>strokeShadowOffsetY</key>
					<real>0.0</real>
					<key>strokeType</key>
					<integer>0</integer>
					<key>textAlign</key>
					<integer>2</integer>
					<key>textAppearanceType</key>
					<integer>0</integer>
					<key>textDrawOnPath</key>
					<false/>
					<key>textShadowBlur</key>
					<real>5</real>
					<key>textShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>textShadowHidden</key>
					<true/>
					<key>textShadowOffsetX</key>
					<real>0.0</real>
					<key>textShadowOffsetY</key>
					<real>0.0</real>
					<key>textVerticalAlign</key>
					<integer>0</integer>
					<key>title</key>
					<string>Ellipse</string>
					<key>userSetTitle</key>
					<false/>
				</dict>
				<dict>
					<key>adjustmentRatioX</key>
					<real>0.0</real>
					<key>adjustmentRatioY</key>
					<real>0.0</real>
					<key>attributedTextData</key>
					<data>
					e1xydGYxXGFuc2lcYW5zaWNwZzEyNTJcY29j
					b2FydGYyNTExClxjb2NvYXRleHRzY2FsaW5n
					MFxjb2NvYXBsYXRmb3JtMHtcZm9udHRibFxm
					MFxmc3dpc3NcZmNoYXJzZXQwIEhlbHZldGlj
					YTt9CntcY29sb3J0Ymw7XHJlZDI1NVxncmVl
					bjI1NVxibHVlMjU1O1xyZWQwXGdyZWVuMFxi
					bHVlMDt9CntcKlxleHBhbmRlZGNvbG9ydGJs
					OztcY3NnZW5lcmljcmdiXGMwXGMwXGMwO30K
					XHBhcmRcdHg1NjBcdHgxMTIwXHR4MTY4MFx0
					eDIyNDBcdHgyODAwXHR4MzM2MFx0eDM5MjBc
					dHg0NDgwXHR4NTA0MFx0eDU2MDBcdHg2MTYw
					XHR4NjcyMFxwYXJkaXJuYXR1cmFsXHFjXHBh
					cnRpZ2h0ZW5mYWN0b3IwCgpcZjBcZnM0MCBc
					Y2YyIFx1cDAgOH0=
					</data>
					<key>className</key>
					<string>MMEllipse</string>
					<key>constrainAspectRatio</key>
					<false/>
					<key>contentFilterSpecs</key>
					<array/>
					<key>fillAngle</key>
					<integer>0</integer>
					<key>fillColor</key>
					<string>0.886471:0.664870:0.786401:1.000000</string>
					<key>fillGradientElements</key>
					<array/>
					<key>fillShadowBlur</key>
					<real>3</real>
					<key>fillShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.500000</string>
					<key>fillShadowHidden</key>
					<false/>
					<key>fillShadowOffsetX</key>
					<real>0.0</real>
					<key>fillShadowOffsetY</key>
					<real>0.0</real>
					<key>fillType</key>
					<integer>0</integer>
					<key>frame</key>
					<string>{{327, 580}, {30, 30}}</string>
					<key>hidden</key>
					<false/>
					<key>identifier</key>
					<string>57BFBDF8-955A-46BC-BC2C-8DD593589687</string>
					<key>imageAnchorRatio</key>
					<string>{0.5, 0.5}</string>
					<key>imageType</key>
					<integer>0</integer>
					<key>locked</key>
					<false/>
					<key>opacity</key>
					<real>1</real>
					<key>rotationAngle</key>
					<integer>0</integer>
					<key>rotationHandleRadius</key>
					<real>100</real>
					<key>scaleImage</key>
					<true/>
					<key>stroke1Color</key>
					<string></string>
					<key>stroke1Enabled</key>
					<true/>
					<key>stroke2Color</key>
					<string>1.000000:1.000000:1.000000:1.000000</string>
					<key>stroke2Enabled</key>
					<true/>
					<key>strokeColor</key>
					<string>0.929046:0.101562:0.106198:1.000000</string>
					<key>strokeLineCap</key>
					<integer>1</integer>
					<key>strokeLineJoin</key>
					<integer>1</integer>
					<key>strokeLineWidth</key>
					<real>3</real>
					<key>strokeShadowBlur</key>
					<real>3</real>
					<key>strokeShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>strokeShadowHidden</key>
					<true/>
					<key>strokeShadowOffsetX</key>
					<real>0.0</real>
					<key>strokeShadowOffsetY</key>
					<real>0.0</real>
					<key>strokeType</key>
					<integer>0</integer>
					<key>textAlign</key>
					<integer>2</integer>
					<key>textAppearanceType</key>
					<integer>0</integer>
					<key>textDrawOnPath</key>
					<false/>
					<key>textShadowBlur</key>
					<real>5</real>
					<key>textShadowColor</key>
					<string>0.000000:0.000000:0.000000:0.333000</string>
					<key>textShadowHidden</key>
					<true/>
					<key>textShadowOffsetX</key>
					<real>0.0</real>
					<key>textShadowOffsetY</key>
					<real>0.0</real>
					<key>textVerticalAlign</key>
					<integer>0</integer>
					<key>title</key>
					<string>Ellipse</string>
					<key>userSetTitle</key>
					<false/>
				</dict>
			</array>
			<key>className</key>
			<string>Composition</string>
			<key>connections</key>
			<array/>
			<key>constrainAspectRatio</key>
			<false/>
			<key>contentFilterSpecs</key>
			<array/>
			<key>fillAngle</key>
			<integer>0</integer>
			<key>fillColor</key>
			<string>0.886471:0.664870:0.786401:1.000000</string>
			<key>fillGradientElements</key>
			<array/>
			<key>fillShadowBlur</key>
			<real>4</real>
			<key>fillShadowColor</key>
			<string>1.000000:0.501961:0.000000:1.000000</string>
			<key>fillShadowHidden</key>
			<true/>
			<key>fillShadowOffsetX</key>
			<real>0.0</real>
			<key>fillShadowOffsetY</key>
			<real>0.0</real>
			<key>fillType</key>
			<integer>5</integer>
			<key>frame</key>
			<string>{{0, 0}, {629, 621}}</string>
			<key>gridTolerance</key>
			<real>10</real>
			<key>hidden</key>
			<false/>
			<key>identifier</key>
			<string>3F6A618B-3DA3-42A0-91CD-BE6346977925</string>
			<key>imageAnchorRatio</key>
			<string>{0.5, 0.5}</string>
			<key>imageType</key>
			<integer>0</integer>
			<key>locked</key>
			<false/>
			<key>metrics</key>
			<dict>
				<key>anchorCorner</key>
				<integer>4</integer>
				<key>anchorSize</key>
				<string>{0, 0}</string>
				<key>group</key>
				<integer>1</integer>
				<key>height</key>
				<real>621</real>
				<key>resolution</key>
				<real>72</real>
				<key>unitType</key>
				<integer>0</integer>
				<key>width</key>
				<real>629</real>
			</dict>
			<key>opacity</key>
			<real>1</real>
			<key>rotationAngle</key>
			<integer>0</integer>
			<key>rotationHandleRadius</key>
			<real>100</real>
			<key>rulerOriginCorner</key>
			<integer>0</integer>
			<key>scaleImage</key>
			<true/>
			<key>scrollCenterPoint</key>
			<string>{314.5, 310.5}</string>
			<key>stroke1Color</key>
			<string></string>
			<key>stroke1Enabled</key>
			<true/>
			<key>stroke2Color</key>
			<string>1.000000:1.000000:1.000000:1.000000</string>
			<key>stroke2Enabled</key>
			<true/>
			<key>strokeColor</key>
			<string>0.000000:0.000000:0.000000:0.450759</string>
			<key>strokeLineCap</key>
			<integer>1</integer>
			<key>strokeLineJoin</key>
			<integer>1</integer>
			<key>strokeLineWidth</key>
			<real>5</real>
			<key>strokeShadowBlur</key>
			<real>3</real>
			<key>strokeShadowColor</key>
			<string>0.000000:0.000000:0.000000:0.333000</string>
			<key>strokeShadowHidden</key>
			<true/>
			<key>strokeShadowOffsetX</key>
			<real>0.0</real>
			<key>strokeShadowOffsetY</key>
			<real>0.0</real>
			<key>strokeType</key>
			<integer>0</integer>
			<key>textAlign</key>
			<integer>2</integer>
			<key>textAppearanceType</key>
			<integer>0</integer>
			<key>textDrawOnPath</key>
			<false/>
			<key>textShadowBlur</key>
			<real>5</real>
			<key>textShadowColor</key>
			<string>0.000000:0.000000:0.000000:0.333000</string>
			<key>textShadowHidden</key>
			<true/>
			<key>textShadowOffsetX</key>
			<real>0.0</real>
			<key>textShadowOffsetY</key>
			<real>0.0</real>
			<key>textVerticalAlign</key>
			<integer>0</integer>
			<key>title</key>
			<string>Page 1</string>
			<key>userGuides</key>
			<array/>
			<key>userSetTitle</key>
			<false/>
			<key>zoomScaleIndex</key>
			<integer>-1</integer>
		</dict>
	</array>
	<key>image_ref_counts</key>
	<dict>
		<key>0560A90C-8830-4483-B171-435E491BF5CA</key>
		<integer>1</integer>
	</dict>
	<key>version</key>
	<integer>8</integer>
</dict>
</plist>
