{# Send to user when manager has given them an assignment #}

{% if manager %}
### {{ manager.first_name }} {{ manager.last_name }} at {{ site_config.SITE_NAME }} has assigned you a job for {{ job_data.activity_title }}.

If you have any questions about the assignment please contact {{ manager.first_name }} at {{ manager.email }}
{% else %}
### A {{ site_config.SITE_NAME }} staff member has assign you a job for {{ job_data.activity_title }}.
{% endif %}

Your assignment is to help with {{ job_data.job_title }}.

Shift Date: {{ job_data.start_date | abbr_date_string }}    
Shift Time: {{ job_data.start_date | local_time_string }} to {{ job_data.end_date | local_time_string }}.

{{ description }}

{% include "announce/email/addendum.md" %}

{% from '_staffing_helper_macros.html' import directions_snippet %}

{{ directions_snippet(job_data) }}

{% if ical %}The attached file will add your shift to your calendar. (Usually you can tap or double click to open it.){% endif %}
