{# Send to user when manager has cancelled an assignment #}

{% if manager %}
### {{ manager.first_name }} {{ manager.last_name }} at SABA has *cancelled* your assignment for {{ job_data.event_title }}.

If you have any questions about the assignment please contact {{ manager.first_name }} at {{ manager.email }}
{% else %}
### A SABA staff member has *cancelled* your assignment for {{ job_data.event_title }}.
{% endif %}

Your assignment is to help with {{ job_data.job_title }}.

For reference, here is your previous shift information:

* Start Time: {{ job_data.start_date | abbr_date_string }} at: {{ job_data.start_date | local_time_string }}
* End Time: {{ job_data.end_date | local_time_string }}.

