{# Send to user when manager has cancelled an assignment #}

{% if manager %}
### {{ manager.first_name }} {{ manager.last_name }} at {{ site_config.SITE_NAME }} has *cancelled* your assignment for {{ job_data.activity_title }}.

If you have any questions about the assignment please contact {{ manager.first_name }} at {{ manager.email }}
{% else %}
### A {{ site_config.SITE_NAME }} staff member has *cancelled* your assignment for {{ job_data.activity_title }}.
{% endif %}

Your assignment was {{ job_data.job_title }}.

For reference, here is your previous shift information:

* Date: {{ job_data.start_date | abbr_date_string }} 
* Time: {{ job_data.start_date | local_time_string }} to {{ job_data.end_date | local_time_string }}.

