
{# this may be replace via AJAX response following a search targeting <div id="sg-table-list"> #}

{% include 'list_pagination_template.html' %}

{% include 'list_header_row.html'%}

{% if data.recs %}
    {% set value = [''] %}
    {% for rec in data.recs %}
	    <tr class="row_id 
            {% if (not rec.start_date or not rec.end_date) and rec.no_show != 1 %} w3-pale-blue
            {% elif rec.start_date != rec.job_start_date or rec.end_date != rec.job_end_date or rec.no_show == 1 %} w3-pale-red
            {% endif %}
        " tabindex="{{ rec.id }}">
			<td onclick="window.location='{{ g.editURL }}{{rec.id}}/?page={{data.page}}'" >{{ rec.calendar_title | truncate(20, True) }}</td>
			<td onclick="window.location='{{ g.editURL }}{{rec.id}}/?page={{data.page}}'" >{{ rec.job_title | truncate(20, True) }}</td>
			<td onclick="window.location='{{ g.editURL }}{{rec.id}}/?page={{data.page}}'" >{{ rec.first_name }} {{ rec.last_name }}</td>
			<td onclick="window.location='{{ g.editURL }}{{rec.id}}/?page={{data.page}}'" >{{ rec.job_start_date | short_date_string }}</td>
			<td onclick="window.location='{{ g.editURL }}{{rec.id}}/?page={{data.page}}'" >{{ rec.job_start_date | default('No start',True) | local_time_string }} &ndash; {{ rec.job_end_date | local_time_string }}</td>
			<td onclick="window.location='{{ g.editURL }}{{rec.id}}/?page={{data.page}}'" >{% if rec.no_show == 1 %}<strong class="w3-text-red">No Show</strong>{% else %}{{ rec.start_date | default('Not Recorded',True) | local_time_string }}{% if rec.end_date %} &ndash; {{ rec.end_date | local_time_string }}{% endif %}{% endif %}</td>
			<td onclick="window.location='{{ g.editURL }}{{rec.id}}/?page={{data.page}}'" >{{ rec.comment | default('None',True) | truncate(30)}}</td>
		</tr>
    {% endfor %}
{% else %}
    <tr><td colspan='{{ data.list_fields | length }}'>No records match your search</td></tr>
{% endif %}

</table>

{% include 'list_record_count.html' %}

{% include 'list_pagination_template.html' %}
