{% extends "layout.html" %}
{% block title %}{{ g.title }}{% endblock %}
{% block body %}

      	<p id="addRecord">
        &nbsp;&nbsp;Find in:
        <select id="col_select">
            <option value="0">Id</option>
            <option value="1" selected >Event</option>
            <option value="2">Job</option>
            <option value="3">Job Date</option>
            <option value="4">Name</option>
        </select>
            &nbsp;&nbsp;<input id="search_input" type="text" name="user_name" value="" class="w3-border" placeholder="Type anything" 
            onkeyup="if (this.value.length > 0){ table_search('search_input','table_list',$('#col_select').prop('selectedIndex'));}else{reset_table_search('table_list')}"
            />
        </p>
	{%if recs %}
		<table id="table_list" class="datatable w3-table w3-striped w3-hoverable">
		<tr class="w3-primary-color">
			<th class="w3-hide-small">Id</th>
			<th>Event</th>
            <th>Job</th>
			<th class="w3-hide-small">Job Date</th>
            <th>Name</th>
		</tr>
		{% for rec in recs %}
	    <tr>
			<td onclick="window.location='{{ g.editURL }}{{rec.id}}/'"  class="w3-hide-small">{{ rec.id }}</td>
			<td onclick="window.location='{{ g.editURL }}{{rec.id}}/'">{{ rec.event_title | truncate(25, True) }}</td>
			<td onclick="window.location='{{ g.editURL }}{{rec.id}}/'">{{ rec.job_title | truncate(25, True) }}</td>
			<td onclick="window.location='{{ g.editURL }}{{rec.id}}/'"  class="w3-hide-small">{{ rec.start_date | short_date_string }}</td>
			<td onclick="window.location='{{ g.editURL }}{{rec.id}}/'">{{ rec.first_name }} {{ rec.last_name }}</td>
		</tr>
		{% endfor %}
	  </table>
  	{% else %}
    	<p><em>No records here so far</em></p>
	{% endif %}
{% endblock %}
