/*  styles to override default_style.css

    Check the settings for LOCAL_STATIC_FOLDER and then
    copy this file to that location.

    Uncomment and or make changes to this file
    to override the defaults

*/


/* change the fixed width of the right menu here*/
/*
.menu_space {
    margin-right:0px;
}
.menu_width {
    width:0px;
}
*/

/*p {margin-top:0;margin-bottom:.4em;}*/

/*
pre {
    overflow-x: scroll;
}

*/

/* Footer image */
.footer_image, .footer_image_small {
    margin:0;
    height:100pt;
    background-image:url('/static/images/footer_bg2.png');
    background-repeat:no-repeat;
    background-position: right bottom;
}
.footer_image_small {
    background-image:url('/static/images/footer_bg2_small.png');
}

#saba-footer-container {
    position:relative;
    top:-2pt;
    background-color: rgb(119,157,144);
    margin-top:0;
    padding:4pt 10pt 20pt 10pt;
    color:#fff;
}

/* logo color is diff on large/medium */
@media (min-width:600px){
    #saba-footer-container {
    background-color: rgb(137,172,161);
    }
}

/* Some styles for staffing */

/* for signup pages */
.event-contain{margin:6pt 0 0 0;}
@media (min-width:993px){.event-contain{margin:10pt 16.6666% 0 16.6666%;}}
.job-contain{margin:0;}
@media (min-width:993px){.job-contain{margin:0 16.6666%;}}
.participant-badge {padding:7pt;min-width:29pt;}
.filled-bar {cursor:text;padding:3pt 0pt}

/* special styling for old event listings */
.past-event, hr.past-event{
    background-color:#ddd;
    color:black;
}
div.past-event{
    padding-top:12pt;
}

hr.past-event{
    padding:0;
    margin:0;
    border-color:black;
}

/* set the open shift colors for the spreadheet view of roster */
.filled-shift, .filled-volunteer-shift {background-color:lightgreen;}
.open-shift {background-color:yellow;}
.open-volunteer-shift {background-color:lightblue;}

/* some background colors for event types */
/* at least initially used for calendar activity types */
.yellow-background {
    background-color: rgba(255, 255, 0, 0.5);
}
.green-background {
    background-color: rgba(0, 143, 0, 0.3);
}
.red-background {
    background-color: rgba(194, 0, 0, 0.3);
}
.blue-background {
    background-color: rgba(0, 0, 178, 0.3);
}
.turquoise-background {
    background-color: rgba(0, 255, 253, 0.5);
}
.coffee-background {
    background-color: rgba(128, 63, 0, 0.3);
}
.silver-background {
    background-color: rgba(214, 214, 214, 1.0);
}


#headerlogo-dark {
    display:none;
}
#headerlogo {
    display:block;
}

/* colors */
/* Brown & tan */

/* brown and tan (SABA) */

:root {
    --primary-color: rgb(63, 36, 20);
    --primary-contrast: #fff;
    --primary-border: rgb(63, 36, 20);
    --secondary-color: rgb(247, 240, 230); 
    --secondary-contrast: #000;
    --secondary-border: rgb(247, 240, 230);
    --menu-border: rgb(247, 240, 230);
   } 


@media (prefers-color-scheme: dark) 
{
    :root{
        --primary-color: rgb(101, 58, 32);
        --primary-contrast: #f8f5f5;
        --primary-border: rgb(144, 83, 48);
        --secondary-color: rgb(244, 195, 128); 
        --secondary-contrast:#000;
        --secondary-border: rgb(247, 240, 230);
        --menu-border: rgb(247, 240, 230);   
    }

    .w3-table-all tr:nth-child(even), .datatable tr:nth-child(even) {
        background-color: rgb(240, 206, 157)!important;
        color:var(--secondary-contrast)!important;
    }
    
    .w3-hoverable tbody tr:hover, .w3-ul.w3-hoverable li:hover, .datatable tr {
        background-color:rgb(242, 189, 109)!important;
        color: var(--secondary-contrast)!important;
    }

    #headerlogo-dark {
        display:block;
    }
    #headerlogo {
        display:none;
    }
    
    /* some background colors for event types */
    /* .yellow-background,
    .green-background ,
    .red-background,
    .blue-background,
    .turquoise-background,
    .coffee-background,
    .silver-background {
        background-color: black;
        color:white;
    } */

    .yellow-background {
        background-color: rgb(255, 255, 0);
        color:black;
    }
    .green-background {
        background-color: rgb(0, 143, 0);
    }
    .red-background {
        background-color: rgb(194, 0, 0);
    }
    .blue-background {
        background-color: rgb(0, 0, 178);
    }
    .turquoise-background {
        background-color: rgb(0, 255, 253);
        color:black;
    }
    .coffee-background {
        background-color: rgb(128, 63, 0);
    }
    .silver-background {
        background-color: rgb(214, 214, 214);
        color:black;
    }

}
    
  /* the actual styles... */
  .w3-menu-color,.w3-drop-menu-hover-color:hover,
  .w3-primary-color,.w3-primary-hover-color:hover,
  .w3-drop-menu-section-hover-color:hover,.w3-drop-menu-section-color:hover,
  .w3-drop-menu-section-color
  {color:var(--primary-contrast)!important;background-color:var(--primary-color)!important}
  .w3-primary-border-color,.w3-primary-hover-border-color:hover{border-color:var(--primary-border)!important}
  
  .w3-menu-hover-color:hover,
  .w3-secondary-color,.w3-secondary-hover-color:hover,.w3-drop-menu-color,
  .w3-label-color,.w3-label-hover-color:hover,.roster-hover-color:hover
  {color:var(--secondary-contrast)!important;background-color:var(--secondary-color)!important;}
  .w3-secondary-border-color,.w3-secondary-hover-border-color:hover{border-color:var(--secondary-border)!important}
  
  .w3-menu-border {
      border:solid 1pt var(--menu-border)!important;
  }
  
  /* styles for the pagination in the record lists */
  
  /* .sg.pagination {} */
  .sg-page-current {
      font-weight: bold;
  }
  a.sg-page-end, a.sg-page-prev,
  a.sg-page-next, a.sg-page-select,
  a.sg-page-begin
      {
      text-decoration: none;
  }
  .sg-page-end, .sg-page-begin,
  .sg-page-next, .sg-page-prev  {
      background-color: var(--primary-color);
      color: var(--primary-contrast);
      padding:2pt;
  }
  .sg-page-begin.sg-page-inactive, .sg-page-end.sg-page-inactive,
  .sg-page-begin.sg-page-current, .sg-page-end.sg-page-current,
  .sg-page-next.sg-page-inactive, .sg-page-prev.sg-page-inactive,
  .sg-page-next.sg-page-current, .sg-page-prev.sg-page-current {
      color: var(--secondary-contrast);
      background-color: var(--secondary-color);
      padding:2pt;
  }




