{% from "_form_helpers.html" import input_field, select_field, radio_field, checkbox_field, label_only %}


<fieldset style="background-color:transparent;">
    <p>{{ input_field(rec.id,"id",type="hidden",default=0)}}</p>
    <div class="w3-row">
        		<input type=hidden name="event_id" value="{{rec.event_id|default('0',True )}}">
                <h3 class="w3-container w3-panel w3-primary-color">{{current_event.activity_title}}</h3>
    </div>    
    <p>{{ input_field(rec.title,'title',req=True)}}</p>
    <div class="w3-row">
        <div class="w3-col w3-half"> 
           <p>{{ label_only(label="Description of duties (may include markdown)")}}</p>
           <p><textarea rows="5" name="description" style="width:100%;">{{rec.description |default('',True)}}</textarea></p>
        </div>        
        <p class="w3-col w3-half" style="padding-left:6pt;">{{ select_field("skills","Skills Required", class="w3-border", extras=' multiple rows="5"') }}
                {% for role in roles %}
                    <option value="{{role.id}}" {% if role.id in skills_list %}selected="selected" {% endif %}>{{role.name}}</option>
                {% endfor %}
            </select>
        </p>
    </div>
    <div class="w3-row">
        {% set job_start_date = rec.start_date | local_date_and_time_string %}
        <p class="w3-col l3 m3 s12" style="padding-right:3pt;">{{ input_field(job_start_date,'start_date',label="Shift Start",id="job_start_date", req=True)}}</p>
        {% set job_end_date = rec.end_date | local_date_and_time_string %}
        <p class="w3-col l3 m3 s12" style="padding-right:3pt;">{{ input_field(job_end_date,'end_date',label="Shift End",id="job_end_date", req=True)}}</p>
        <p class="w3-col l4 m4 s12" style="padding-left:3pt;">{{ input_field(rec.max_positions,'max_positions',label="# of People Requested", default=1, req=True, type="num")}}</p>  
    </div>
    {% if roles %}
    {% endif %}
    
    <p>{{ select_field("location_id","Location", class="w3-border") }}
            <option value="0">Same as Event Location</option>
            {% if locations %}
            {% for loc in locations %}
                <option value="{{loc.id}}" {% if loc.id == rec.location_id %}selected="selected" {% endif %}>{{loc.location_name}}</option>
            {% endfor %}
            {% endif %}
        </select>
    </p>
      
</fieldset>

<script>
    
    var date_format = "%c/%e/%y %l:%i%p"; // "3/4/19 06:00AM"
    var job_pickers = ["job_start_date","job_end_date"]
    
    for( i = 0;i<job_pickers.length;i++){
        $("#" + job_pickers[i]).AnyTime_noPicker().AnyTime_picker({ format: date_format } );
        // be sure the picker comes to the top of the stack
        $("#AnyTime--" + job_pickers[i]).css('z-index',1000)
    }
    
</script>