{# modified layout for signup site #}
<!DOCTYPE html>
<html lang="en">
<head>
    {# used to set the static route with the correct subdomain #}
    {% set static_domain = "static_" + site_config.HOST_NAME.split('.')[0]%}

	<title>{% block document_title %}{% block title%}{{g.title}}{% endblock %} - {{ site_config.SITE_NAME | default("",True) }}{% endblock document_title%}</title> 
	<link rel="icon" type="image/png" href="{{ url_for(static_domain, filename='favicon.png') }}" >
    <link rel="SHORTCUT ICON" type="image/vnd.microsoft.icon" href="{{ url_for(static_domain, filename='favicon.ico') }}" >
    <link rel="apple-touch-icon" type="image/png" sizes="57x57" href="{{ url_for(static_domain, filename='apple-touch-icon-57.png') }}"><!-- iPhone -->
    <link rel="apple-touch-icon" type="image/png" sizes="72x72" href="{{ url_for(static_domain, filename='apple-touch-icon-72.png') }}"><!-- iPad -->
    <link rel="apple-touch-icon" type="image/png" sizes="114x114" href="{{ url_for(static_domain, filename='apple-touch-icon-114.png') }}"><!-- iPhone4 -->
    <link rel="apple-touch-icon" type="image/png" sizes="120x120" href="{{ url_for(static_domain, filename='apple-touch-icon-120.png') }}"><!-- iPhone7? -->
    <link rel="icon" type="image/png" href="{{ url_for(static_domain, filename='apple-touch-icon-114.png') }}"><!-- Opera Speed Dial, at least 144×114 px -->
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">   -->
    <link rel="stylesheet" href="{{ url_for(static_domain, filename='w3.css' )}}">
    <link rel="stylesheet" href="{{ url_for(static_domain, filename='default_style.css' )}}">
    <link rel="stylesheet" href="{{ url_for(static_domain, filename='style.css' )}}">
	
	<script src="{{ url_for(static_domain, filename='jquery.1.10.1.js') }}"></script>
	<script src="{{ url_for(static_domain, filename='common.js') }}"></script>
	<script src="{{ url_for(static_domain, filename='staffing.js') }}"></script>

    <script>
        $(window).resize(function(){set_menu_style();});
    </script>

    {% block head%}{% endblock %}
</head>
<body>
<div id="contain" >
    {% block dialog %}
    <div id="dialog"></div>
    <div id="modal-form-contain" class="w3-modal" style="overflow:hidden;padding-top:20pt!important;">
        <div id="modal-form" class="w3-container w3-modal-content w3-card-4 w3-animate-top" style="max-height:95vh;overflow:scroll;"></div>
    </div>
    {% endblock dialog %}
    
    {% block header %}
        {% include "header.html"%}
        {% if site_config.SIGNUP_SUBDOMAIN in site_config.HOST_NAME %}
            {# signup has a special menu #}
            {% include "signup-nav-bar.html" %}
        {% else %}
            {% include "top-nav-bar.html"%}
        {% endif %}
            <div class="w3-main menu_space">
    {% endblock header %}

        <div class="w3-container">
            {% block page_header %}
                {% if not g.suppress_page_header %}
                    {% include "page_header.html" %}
                {% endif %}
            {% endblock page_header %}
        
            {% block flasher %}{% include "flasher.html" %}{% endblock flasher%}
        
            {% block body %}{% endblock %}
            
        </div>
            {% block footer %}
            {% include "footer.html" %}
            {% endblock footer%}
    </div>
</div>
</body>
</html>
