{# modified layout for signup site #}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>{% block document_title %}{% block title%}{{g.title}}{% endblock %} - {{ site_config.SITE_NAME | default("",True) }}{% endblock document_title%}</title> 
	<link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}" >
    <link rel="SHORTCUT ICON" type="image/vnd.microsoft.icon" href="{{ url_for('static', filename='favicon.ico') }}" >
    <link rel="apple-touch-icon" type="image/png" sizes="57x57" href="{{ url_for('static', filename='apple-touch-icon-57.png') }}"><!-- iPhone -->
    <link rel="apple-touch-icon" type="image/png" sizes="72x72" href="{{ url_for('static', filename='apple-touch-icon-72.png') }}"><!-- iPad -->
    <link rel="apple-touch-icon" type="image/png" sizes="114x114" href="{{ url_for('static', filename='apple-touch-icon-114.png') }}"><!-- iPhone4 -->
    <link rel="apple-touch-icon" type="image/png" sizes="120x120" href="{{ url_for('static', filename='apple-touch-icon-120.png') }}"><!-- iPhone7? -->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='apple-touch-icon-114.png') }}"><!-- Opera Speed Dial, at least 144×114 px -->
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">   -->
    <link rel="stylesheet" href="{{ url_for('static', filename='w3.css' )}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='default_style.css' )}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css' )}}">
	
	<script src="{{ url_for('static', filename='jquery.1.10.1.js') }}"></script>
	<script src="{{ url_for('static', filename='common.js') }}"></script>

    <script>
        // for navigation buttons
    function w3_open(id_name) {
        document.getElementById(id_name).style.display = "block";
    }
    function w3_close(id_name) {
        document.getElementById(id_name).style.display = "none";
    }
    function w3_hide(id_name) {
        document.getElementById(id_name).style.visibility = "hidden";
    }
    function w3_show(id_name) {
        document.getElementById(id_name).style.visibility = "visible";
    }
    </script>

    {% block head%}{% endblock %}
</head>
<body>
<div id="contain" >
    {% block dialog %}
    <div id="dialog"></div>
    <div id="modal-form-contain" class="w3-modal" style="overflow:hidden;padding-top:20pt!important;">
        <div id="modal-form" class="w3-container w3-modal-content w3-card-4 w3-animate-top" style="max-height:95vh;overflow:scroll;"></div>
    </div>
    {% endblock dialog %}
    
    {% block header %}
        {% include "header.html"%}
        {% if site_config.SIGNUP_SUBDOMAIN in site_config.HOST_NAME %}
            {# signup has a special menu #}
            <div id="nav" style="overflow:hidden;">
              <div class="w3-sidebar w3-bar-block w3-collapse w3-right w3-card w3-animate-right w3-secondary-color menu_width" style="height:100vh;overflow:scroll;position:absolute;right:0;top:0pt;" id="primary-nav">
                  <a href="javascript:void(0)" onclick="w3_close('primary-nav');w3_show('hamburger');" 
                    class="w3-button w3-bar-item w3-hide-large w3-text-grey ">Close &times;</a>
                        {% if not g.user %}
                            <a class="w3-bar-item w3-button w3-border w3-secondary-color w3-primary-hover-color" href="#" onclick="editFromList('{{ url_for('signup.login')}}1')">Sign in</a>
                        {% else %}
                        <a class="w3-bar-item w3-button w3-border w3-secondary-color w3-primary-hover-color" >Hi {{ g.user | truncate(18) }}!</a>
                        {% endif %}
                          <a class="w3-bar-item w3-button w3-border w3-secondary-color w3-primary-hover-color" href="/">Home</a>
                          <a class="w3-bar-item w3-button w3-border w3-secondary-color w3-primary-hover-color" href="{{ url_for('signup.about')}}">About</a>
                          <a class="w3-bar-item w3-button w3-border w3-secondary-color w3-primary-hover-color" href="{{ url_for('signup.contact')}}">Contact Us</a>
                          <a class="w3-bar-item w3-button w3-border w3-secondary-color w3-primary-hover-color" href="{{ url_for('signup.help')}}">Help</a>
                        {% if g.user %}
                        {% if is_admin %}
                        <a class="w3-bar-item w3-button w3-border w3-drop-menu-color w3-drop-menu-hover-color" href="{{ url_for('signup.roster' )}}">View Roster</a>
                        {% endif %}
                            <a  class="w3-bar-item w3-button w3-border w3-drop-menu-color w3-drop-menu-hover-color" href="{{ url_for('signup.logout')}}">Sign Out</a>
                        {% endif %}
                </div>
            </div>
            {# end signup menu #}
        
        {% else %}
            {% include "top-nav.html"%}
        {% endif %}
            <div class="w3-main menu_space">
    {% endblock header %}

        <div class="w3-container">
            {% block page_header %}
                {% if not g.suppress_page_header %}
                {% include "page_header.html" %}
                {% endif %}
            {% endblock page_header %}
        
            {% block flasher %}{% include "flasher.html" %}{% endblock flasher%}
        
            {% block body %}{% endblock %}
            
            {% block footer %}{% endblock footer%}
        </div>
    </div>
</div>
</body>
</html>
