{% from "_form_helpers.html" import select_field  %}

<div class="w3-panel w3-card-2 w3-secondary-color">
    <div class="w3-row">
        <p class="w3-col l11 m11 s12" ><strong>Event Roster</strong></p>
    </div>
        <div class="w3-col l1 m1 w3-hide-small ">
            <p style=""><img src="{{ url_for('static',filename='images/bicycle.png')}}" /></p>
        </div>
        <form action="" method="post" >
            <p class="w3-col l2 m2" style="margin-right:10pt">
                {{ select_field("display_end_days","Show from today thru",extras="") }}
                    <option value="0">Today Only</option>
                    <option value="7" {% if display_end_days == 7 %}selected{% endif %} >Next Week</option>
                    <option value="30" {% if display_end_days == 30 %}selected{% endif %}>Next Month</option>
                </select>
            </p>
            <p class="w3-col l2 m2">
                <input class=" w3-button w3-primary-color w3-round-large" type="submit" value="Search">
            </p>
        </form>
    </div>
</div>

