{# nav menu for Signup subdomain #}
<div id="nav" style="overflow:hidden;">
  <div class="w3-sidebar w3-bar-block w3-collapse w3-right w3-card w3-animate-right w3-secondary-color menu_width" style="height:100vh;overflow:scroll;position:absolute;right:0;top:0pt;" id="primary-nav">
      <a href="javascript:void(0)" onclick="w3_close('primary-nav');show_hamburger();" 
        class="w3-button w3-bar-item w3-hide-large w3-text-grey ">Close &times;</a>
              <a class="w3-bar-item w3-button w3-border w3-secondary-color w3-primary-hover-color" href="/">Signup Home</a>
              <!-- <a class="w3-bar-item w3-button w3-border w3-secondary-color w3-primary-hover-color" href="{{ url_for('signup.about')}}">About</a> -->
              <!-- <a class="w3-bar-item w3-button w3-border w3-secondary-color w3-primary-hover-color" href="{{ url_for('signup.contact')}}">Contact Us</a> -->
              <a class="w3-bar-item w3-button w3-border w3-primary-color w3-secondary-hover-color" href="http://sacbike.org/contact/">Contact Us</a>
              <!-- <a class="w3-bar-item w3-button w3-border w3-secondary-color w3-primary-hover-color" href="{{ url_for('signup.help')}}">Help</a> -->
              {% if not g.user %}
                  <a class="w3-bar-item w3-button w3-border w3-secondary-color w3-primary-hover-color" href="#" onclick="editFromList('{{ url_for('signup.login')}}1')">Login / Register</a>
              {% else %}
                  {% if g.admin and not g.admin.has_user_table_access(g.user) %}
                    <!-- <a class="w3-bar-item w3-button w3-border w3-secondary-color w3-primary-hover-color" href="{{ url_for('user.edit')}}" >Manage Your Profile</a> -->
                  {% endif %}
                  {% if g.admin and g.admin.has_access(g.user)%}
                      <div style="display:block"><div style="display:block"><!-- just a place holder -->
                      {% for item in g.admin.permissions %}
                          {% if g.admin.has_access(g.user,item['table'])%}
                              {% if item['header_row'] == True %}
                              </div></div>
                              <div class="w3-dropdown-hover">
                                  <button class="w3-button w3-border w3-drop-menu-section-color w3-drop-menu-section-hover-color"><strong>{{item['display_name']}}</strong></button>
                                  <div class="w3-dropdown-content w3-card-4">
                              {% else %}
                                  <a  class="w3-bar-item w3-button w3-border w3-drop-menu-color w3-drop-menu-hover-color" href="{{item['url']}}">{{item['display_name']}}</a>
                              {% endif %}
                          {% endif %}
                      {% endfor %}
                          </div></div>
                  {% endif %} <!-- g.admin -->
                    <a class="w3-bar-item w3-button w3-border w3-secondary-color w3-primary-hover-color" href="{{ url_for('signup.logout')}}">Logout</a>
              {% endif %} <!-- g.user -->
    </div>
</div>
{# end signup menu #}
