            
<div class="w3-panel w3-card-2 w3-secondary-color">
    <div class="w3-row  ">
        <div class="w3-col l1 m1 w3-hide-small ">
        <p style="padding-top:15pt"><img src="{{url_for(site_config.STATIC_DOMAIN,filename='images/bicycle.png')}}" /></p>
        </div>
        <div class="w3-col l11 m11" style="padding-left:15pt;">
            <p><strong>Welcome to SABA Volunteer Signups.</strong></p>
            <p>
                We depend on our volunteers to help us achieve the goal of continuing to make the Sacramento area
                a great place for bicycling.
            </p>
            <p>
                Please take a look at the Events we have coming up. We'd love to see you there!
            </p>
        </div>
    </div>
</div>

