{% extends "layout.html" %}
{% from "_layout_helpers.html" import list_search_widget %}
{% block title %}{{ g.title }}{% endblock %}
{% block body %}

      	<p id="addRecord"><a href="{{ g.editURL }}0/">Add a new record</a>
        &nbsp;&nbsp;{{ list_search_widget('location',{'Id':0,'Nane':1,'Address':2,'City':3,},1) }}
        </p>
	{%if recs %}
		<table id="table_list" class="datatable w3-table w3-striped w3-hoverable">
		<tr class="w3-primary-color">
			<th>Id</th>
			<th>Name</th>
			<th class="w3-hide-small" >Address</th>
			<th class="w3-hide-small" >City</th>
		</tr>
		{% for rec in recs %}
	    <tr>
			<td onclick="window.location='{{ g.editURL }}{{rec.id}}/'">{{ rec.id }}</a></td>
			<td onclick="window.location='{{ g.editURL }}{{rec.id}}/'">{{ rec.location_name }}</a></td>
			<td class="w3-hide-small" onclick="window.location='{{ g.editURL }}{{rec.id}}/'">{{ rec.street_address|default("",true) }}</td>
			<td class="w3-hide-small" onclick="window.location='{{ g.editURL }}{{rec.id}}/'">{{ rec.city|default("",true) }}</td>
		</tr>
		{% endfor %}
	  </table>
  	{% else %}
    	<p><em>No records here so far</em></p>
	{% endif %}
{% endblock %}
