{% extends "form_layout.html" %}

{% from "_form_helpers.html" import input_field, select_field, radio_field, checkbox_field, label_only %}

{% block head %}
    {{ super() }}
    {{ map_html | safe }}
{% endblock head %}

{% block fieldset %}
<fieldset>
    <p>{{ input_field(rec.id,"id",type="hidden",default=0)}}</p>
    {% if not rec.street_address %}
    <p>{{ input_field(rec.location_name,'location_name',req=True,extras="autofocus")}}</p>
    <p>{{ input_field('','search-input',type="search",label="Search for an address...",id="search-input",placeholder="Start a Search")}}</p>
    {% else %}
    <p>{{ input_field(rec.location_name,'location_name',req=True)}}</p>
    {% endif %}
    <p>{{ input_field(rec.street_address,'street_address',id="street_address",req=True)}}</p>
    <p class="w3-row w3-half" style="padding-right:3pt;">{{ input_field(rec.city,'city',id="city")}}</p>
    <p class="w3-row w3-quarter" style="padding-right:3pt;padding-left:3pt;">{{ input_field(rec.state,'state',id="state")}}</p>
    <p class="w3-row w3-quarter" style="padding-left:3pt;">{{ input_field(rec.zip,'zip',id="zip")}}</p>
    <p class="w3-row w3-half" style="padding-right:3pt;">{{ input_field(rec.lat,'lat',label="Latitude", id="latitude",req=True )}}</p>
    <p class="w3-row w3-half" style="padding-left:3pt;">{{ input_field(rec.lng,'lng',label="Longitude", id="longitude",req=True )}}</p>
    <p class="w3-row">{{ label_only("Drag the marker below to set the Latitude and Longitude for this location")}}</p>
    <div id='map' class="w3-border w3-secondary-color" style="height:40em;width:100%;"></div>
</fieldset>
{% endblock fieldset %}
